Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

Query: Adds type-markers with count and length for large arrays (#3852)
  Microsoft.Azure.Cosmos/src/Json/JsonWriter.JsonBinaryWriter.cs
  Microsoft.Azure.Cosmos/src/Json/JsonWriter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Json/JsonWriterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fixed tracing when converting HTTP Timeout to 503
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/GatewayAccountReader.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClient.cs
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetryProcessor.cs
  Microsoft.Azure.Cosmos/src/Telemetry/VmMetadataApiHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAccountReaderTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] AI Integration or Open Telemetry: Design Document (#3858)
  docs/SdkDesign.md
Due: none

readme changes
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
Due: azure-pipelines.yml

nits + changing case of parameters file
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/parameters.json
Due: azure-pipelines.yml

Update contracts
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.MiscellanousAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Cleanup files
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqTranslationWithCustomSerializerBaseline.TestMemberInitializer.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add last known time in health state diagnostics.
  Microsoft.Azure.Cosmos/src/direct/TransportAddressHealthState.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update distributed Otel tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.MiscellanousAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/Util.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update distributed Otel tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.MiscellanousAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/Util.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Using stackalloc and array pool for memory allocation
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

creating azuredeploy template and additional files for execute benchmark
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/execute.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
Due: azure-pipelines.yml

adding button for benchmark starting
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
Due: azure-pipelines.yml

Benchmarking: Adds use of ARM Templates for benchmarking (#3838)
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm1.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm2.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm3.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/benchmarkTemplate.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/parameters.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/run.sh
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
Due: azure-pipelines.yml

code refactoring
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/CustomOtelExporter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/BaseCosmosClientHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

bug fix, needs Direct Package Changes
  Microsoft.Azure.Cosmos/src/FeedRange/FeedRanges/FeedRangePartitionKey.cs
  Microsoft.Azure.Cosmos/src/Pagination/NetworkAttachedDocumentContainer.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosMultiHashTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/FeedToken/ChangeFeedIteratorCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/ToDoActivity.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionRoutingHelperTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update benchmark results
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/system/cloud-init.txt
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/execute.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/execute.sh
Due: azure-pipelines.yml

modified: Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh
Due: azure-pipelines.yml

fix custom listener
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/CustomListener.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Resolved PR comments
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
Due: azure-pipelines.yml

Update README.md (#3875)
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
Due: azure-pipelines.yml

moved to new file
  docs/SdkDesign.md
  docs/observability.md
Due: none

moved to new file (#3876)
  docs/SdkDesign.md
  docs/observability.md
Due: none

add benchmark params customization
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/scripts/custom-script.sh
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
