Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: $(BuildConfiguration)
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: $(BuildConfiguration)
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

making it work.
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.Items.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInternal.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosContainerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

made other contracts public
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/RequestOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

sdd to EncryptionContainer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainer.cs
Due: azure-pipelines.yml

upgrades direct package, adds test
  Directory.Build.props
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/ChaosInterceptor.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

some formatting and change to Debug for logging before Logger.LogLine emits logs twice making it confusing to look at.
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Observers/ChangeFeedObserverContextCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/GetChangeFeedProcessorBuilderWithAllVersionsAndDeletesTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

update changelog and direcotry.build.props
  Directory.Build.props
  changelog.md
Due: azure-pipelines.yml

update enable method
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/AvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionParallelHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/DisabledAvailabilityStrategy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to move remarks to summary. Updated test.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqAggregateCustomSerializationBaseline.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

comments
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/AvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionParallelHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/DisabledAvailabilityStrategy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Client Telemetry: Fixes loggers (#4594)
  Microsoft.Azure.Cosmos/src/Telemetry/ClientTelemetry.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/TelemetryCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/VmMetadataApiHandler.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to move the validation logic in cosmos client options.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to update contract.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

changelog
  changelog.md
Due: none

moved FaultInjection Project
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/AssemblyInfo.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjection.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjection.sln
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionCondition.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionConditionBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionConnectionErrorResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionConnectionErrorResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionConnectionErrorType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionConnectionType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionEndpoint.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionEndpointBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionOperationType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionRuleBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionServerErrorResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionServerErrorResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjectionServerErrorType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/FaultInjector.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/ChaosInterceptor.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionApplicationContext.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionConditionInternal.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionConnectionErrorRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionDynamicChannelStore.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionRuleProcessor.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionRuleStore.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionServerErrorRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/IFaultInjectionResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/IFaultInjectionRuleInternal.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/RntbdConnectionErrorInjector.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/FaultInjectionDirectModeTests.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/FaultInjectionTests.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/FaultInjectionTests.sln
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/FaultInjectionUnitTests.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/Usings.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/tests/Utils/TestCommon.cs
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

moved fault injection
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/AssemblyInfo.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjection.csproj
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjection.sln
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionCondition.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionConditionBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionConnectionErrorResult.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionConnectionErrorResultBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionConnectionErrorType.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionConnectionType.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionEndpoint.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionEndpointBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionOperationType.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionResultBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionRule.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionRuleBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionServerErrorResult.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionServerErrorResultBuilder.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjectionServerErrorType.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/FaultInjector.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/ChaosInterceptor.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionApplicationContext.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionConditionInternal.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionConnectionErrorRule.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionDynamicChannelStore.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionRuleProcessor.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionRuleStore.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/FaultInjectionServerErrorRule.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/IFaultInjectionResult.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/IFaultInjectionRuleInternal.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/src/implementataion/RntbdConnectionErrorInjector.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/FaultInjectionDirectModeTests.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/FaultInjectionTests.csproj
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/FaultInjectionTests.sln
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/FaultInjectionUnitTests.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/Usings.cs
  Microsoft.Azure.Cosmos/tests/FaultInjection/tests/Utils/TestCommon.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fixes sln file
  Microsoft.Azure.Cosmos.sln
Due: azure-pipelines.yml

changelog change
  changelog.md
Due: none

Continue consolidating pipeline classes
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove dead code
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/AverageAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/CountAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/IAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MakeListAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MakeSetAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MinMaxAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/SingleGroupAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/SumAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Consolidate the pipeline stage classes
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

rename classes appropriately
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.Client.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix build break
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/GroupByQueryPipelineStageTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

contract update
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

api contracts
  Microsoft.Azure.Cosmos/contracts/API_3.42.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.43.0-preview.0.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

add sample for change feed processor using all versions and deletes mode
  Microsoft.Azure.Cosmos.Samples/Usage/CFPullModelAllVersionsAndDeletesMode/CFPullModelAllVersionsAndDeletesMode.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/CFPullModelAllVersionsAndDeletesMode/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeedAllVersionsAndDeletes/ChangeFeedAllVersionsAndDeletes.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeedAllVersionsAndDeletes/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
Due: azure-pipelines.yml

SDK 3.42.0: Adds version bump and changelog (#4603)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.42.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.43.0-preview.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

change target framework to supported .net version
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeedAllVersionsAndDeletes/ChangeFeedAllVersionsAndDeletes.csproj
Due: azure-pipelines.yml

Initial commit
  changelog.md
Due: none

[Internal] Samples: Adds CFP sample for all versions and deletes mode (#4607)
  Microsoft.Azure.Cosmos.Samples/Usage/CFPullModelAllVersionsAndDeletesMode/CFPullModelAllVersionsAndDeletesMode.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/CFPullModelAllVersionsAndDeletesMode/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeedAllVersionsAndDeletes/ChangeFeedAllVersionsAndDeletes.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ChangeFeedAllVersionsAndDeletes/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
Due: azure-pipelines.yml

Fault testing with quorum reader code
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addressed comments
  changelog.md
Due: none

Code changes to remove client context core logic in cosmos client options.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ReleaseNotes : Fixes Release notes for v 3.42.0 (#4609)
  changelog.md
Due: none

[Internal] Query: Removes unused code and simplifies query pipeline classes (#4601)
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/AggregateQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/AverageAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/CountAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/IAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MakeListAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MakeSetAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/MinMaxAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/SingleGroupAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Aggregate/Aggregators/SumAggregator.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/DCount/DCountQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/Distinct/DistinctQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.Client.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/GroupBy/GroupByQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/GroupByQueryPipelineStageTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

test update
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/GetChangeFeedProcessorBuilderWithAllVersionsAndDeletesTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to update some tests.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to update contract. Made cosmetic changes.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix EncryptionContainer
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionContainer.cs
Due: azure-pipelines.yml

remove a test helper method that is no longer needed. and updated test description.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/GetChangeFeedProcessorBuilderWithAllVersionsAndDeletesTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
