Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

[Internal] PreferWritesInHub: Adds PPCB, ExcludeRegions, ApplicationRegion, and diagnostics coverage to spec
  openspec/changes/prefer-writes-in-hub/design.md
  openspec/changes/prefer-writes-in-hub/specs/client-and-configuration/spec.md
  openspec/changes/prefer-writes-in-hub/specs/prefer-writes-in-hub/spec.md
  openspec/changes/prefer-writes-in-hub/tasks.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Diagnostics: Fixes review comments on multimaster default endpoint resolution
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Fixes review feedback for Summary mode
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosDiagnostics.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/DiagnosticsSummaryWriter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/DiagnosticsSummaryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Changelog: Adds missing entry for 429 throttling fix in 3.58.0
  changelog.md
Due: none

Test error message fix
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix GremlinScenarioTests Assert.AreNotSame type inference with dynamic types
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Scenarios/GremlinScenarioTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Changelog: Adds entry for 429 throttling fix in 3.58.0 (#5758)
  changelog.md
Due: none

Exceptionless: Adds enabling exception less 400 status code (#5755)
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add .Unwrap() safety comment, improve exception logging, and add regression tests
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DispatcherThreadStarvationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add performance benchmarks for dispatcher disposal paths
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DispatcherPerformanceBenchmarks.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] SemanticReranking: Refactors preview API pattern and exception handling
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicyHelper.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInlineCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HttpTimeoutPolicyHelperTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add standalone thread starvation reproduction program
  repro/Program.cs
  repro/ThreadStarvationRepro.csproj
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds Phase 1 skeleton with core tools, resources, and stdio host
  Microsoft.Azure.Cosmos.Mcp/docs/design-spec.md
  Microsoft.Azure.Cosmos.Mcp/samples/CosmosMcp.StdioHost/CosmosMcp.StdioHost.csproj
  Microsoft.Azure.Cosmos.Mcp/samples/CosmosMcp.StdioHost/Program.cs
  Microsoft.Azure.Cosmos.Mcp/src/CosmosMcpOptions.cs
  Microsoft.Azure.Cosmos.Mcp/src/CosmosMcpServerExtensions.cs
  Microsoft.Azure.Cosmos.Mcp/src/Hosting/StdioHostExtensions.cs
  Microsoft.Azure.Cosmos.Mcp/src/Microsoft.Azure.Cosmos.Mcp.csproj
  Microsoft.Azure.Cosmos.Mcp/src/Resources/CosmosCatalogResources.cs
  Microsoft.Azure.Cosmos.Mcp/src/Security/McpOperations.cs
  Microsoft.Azure.Cosmos.Mcp/src/Security/OperationFilter.cs
  Microsoft.Azure.Cosmos.Mcp/src/Security/QuerySanitizer.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/ContainerListTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/DatabaseListTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/PointReadTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/QueryTool.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds Phase 2 schema discovery, indexing policy, and throughput resources
  Microsoft.Azure.Cosmos.Mcp/src/CosmosMcpServerExtensions.cs
  Microsoft.Azure.Cosmos.Mcp/src/Resources/ContainerMetadataResources.cs
  Microsoft.Azure.Cosmos.Mcp/src/Schema/SchemaCache.cs
  Microsoft.Azure.Cosmos.Mcp/src/Schema/SchemaInferrer.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/SchemaTool.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds write tools, vector search, prompts, diagnostics, and HTTP transport
  Microsoft.Azure.Cosmos.Mcp/src/CosmosMcpServerExtensions.cs
  Microsoft.Azure.Cosmos.Mcp/src/Hosting/HttpHostExtensions.cs
  Microsoft.Azure.Cosmos.Mcp/src/Microsoft.Azure.Cosmos.Mcp.csproj
  Microsoft.Azure.Cosmos.Mcp/src/Prompts/CosmosPrompts.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/DeleteTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/DiagnosticsTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/PatchTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/UpsertTool.cs
  Microsoft.Azure.Cosmos.Mcp/src/Tools/VectorSearchTool.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds README with quickstart, configuration, and feature docs
  Microsoft.Azure.Cosmos.Mcp/README.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds AAD/Entra ID auth support via DefaultAzureCredential
  Microsoft.Azure.Cosmos.Mcp/README.md
  Microsoft.Azure.Cosmos.Mcp/samples/CosmosMcp.StdioHost/CosmosMcp.StdioHost.csproj
  Microsoft.Azure.Cosmos.Mcp/samples/CosmosMcp.StdioHost/Program.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Adds demo data seeder and comprehensive demo guide
  Microsoft.Azure.Cosmos.Mcp/demo/DEMO-GUIDE.md
  Microsoft.Azure.Cosmos.Mcp/demo/SeedData/Program.cs
  Microsoft.Azure.Cosmos.Mcp/demo/SeedData/SeedData.csproj
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

MCP Server: Fixes demo seeder for AAD-only accounts with firewall
  Microsoft.Azure.Cosmos.Mcp/demo/SeedData/Program.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Routing: Fixes GetOverlappingRanges CPU overhead from repeated JSON deserialization (#5748)
  Microsoft.Azure.Cosmos/src/Routing/CollectionRoutingMap.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Benchmarks/CollectionRoutingMapBenchmark.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Test][Do Not Revie] Cache container on creation
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactoryCore.cs
  Microsoft.Azure.Cosmos/src/Routing/CollectionCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/MockDocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix test and address review comments.
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/RetryPolicy.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerNoOp.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Tests: Adds flaky test detection agent spec and scaffolding
  docs/design/flaky-test-agent-implementation-plan.md
  docs/design/flaky-test-agent-spec.md
  scripts/flaky-agent/__init__.py
  scripts/flaky-agent/ado_client.py
  scripts/flaky-agent/analyzer.py
  scripts/flaky-agent/classifier.py
  scripts/flaky-agent/codeowners.py
  scripts/flaky-agent/collector.py
  scripts/flaky-agent/config.py
  scripts/flaky-agent/correlator.py
  scripts/flaky-agent/database.py
  scripts/flaky-agent/fix_proposer.py
  scripts/flaky-agent/issue_filer.py
  scripts/flaky-agent/main.py
  scripts/flaky-agent/reporter.py
  scripts/flaky-agent/requirements.txt
  scripts/flaky-agent/tests/__init__.py
  scripts/flaky-agent/tests/fixtures/sample_test_results.json
  scripts/flaky-agent/tests/test_analyzer.py
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Tests: Refactors data store from SQLite to Azure Cosmos DB
  docs/design/flaky-test-agent-implementation-plan.md
  docs/design/flaky-test-agent-spec.md
  scripts/flaky-agent/config.py
  scripts/flaky-agent/database.py
  scripts/flaky-agent/requirements.txt
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

PPAF: Fixes successful hedge not updating PPAF cache
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PPAF: Adds direct cache targeting for successful hedge region
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerNoOp.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Exceptionless: Adds enabling exception less 403 (#5757)
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Adds clarifying comment and edge case tests for multimaster diagnostics
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProviderTokenCredential.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Authorization: Refactors TokenCredentialCache to use immutable AuthState class
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

All traces changed to GetNewTokenAsync
  Microsoft.Azure.Cosmos.sln
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Update file name
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadTokenRevocationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Remove white spacing
  Microsoft.Azure.Cosmos/src/RetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Bump Direct package version to 3.42.4
  Directory.Build.props
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Performance: Adds caching for URL-encoded AAD authorization signature (#5709)
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionBuilderValidationTests.cs
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProvider.cs
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProviderMasterKey.cs
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProviderResourceToken.cs
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProviderTokenCredential.cs
  Microsoft.Azure.Cosmos/src/Authorization/AzureKeyCredentialAuthorizationTokenProvider.cs
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosAuthorizationTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/InferenceServiceTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

reverting to master
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Using exceptionless for 404/102
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix: Microsoft.Azure.Cosmos.Direct: TCP keepalive configuration silently fails on Linux - uint passed to SetSocketOption resolves to wrong overload
  Microsoft.Azure.Cosmos/src/IDocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml
