Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

added doc
  docs/Paralell Hedging Preview.md
Due: none

small fix
  docs/Parallel Hedging Preview.md
Due: none

Code changes to add diagnostics for replica validation.
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CTLConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/ConsoleLoggerExtensions.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CosmosCTL.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CustomFormatter.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CustomOptions.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Scenarios/ReadWriteQueryScenario.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Utils.cs
Due: azure-pipelines.yml

Code changes to add minor CTL improvements.
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CTLConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Utils.cs
Due: azure-pipelines.yml

Code changes to add minor CTL changes
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/CTLConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Program.cs
Due: azure-pipelines.yml

rev comments
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

refactor code
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Made singleton constructors from public to private
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/ClientQL/ClientQLNullLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/ClientQL/ClientQLUndefinedLiteral.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Subpartitioning: Fixes bug for queries on subpartitioned containers (#3934)
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryClient/ContainerQueryProperties.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryClient/CosmosQueryClient.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHash.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHashRange.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHashRanges.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosQueryClientCoreTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/PartitionKeyHashBaselineTest.Lists.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Microsoft.Azure.Cosmos.Tests.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Pagination/InMemoryContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/SplitPartitionQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionKeyHashBaselineTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionKeyHashRangeSplitterAndMerger.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove autofailover - not in scope
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

chaged request options api
  docs/Parallel Hedging Preview.md
Due: none

Address code review comment
  Microsoft.Azure.Cosmos/src/Handler/ResponseMessage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsInfo.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

addressed code review
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsInfo.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove log from api exception
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Fixes LINQ Test Organization (#4076)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqAggregateFunctionsBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqAttributeContractBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqConstantFoldingBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqGeneralBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqSQLTranslationBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqTestData.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqTestsCommon.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqTranslationBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ClientTelemetry : Adds logic to call client config in every 10 minutes (#4071)
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryConfigurationTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/DiagnosticHandlerHelperTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryConfigurationTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Subpartitioning: Fixes bug for queries on subpartitioned containers (#3934) (#4085)
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryClient/ContainerQueryProperties.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryClient/CosmosQueryClient.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHash.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHashRange.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyHashRanges.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosQueryClientCoreTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/PartitionKeyHashBaselineTest.Lists.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Microsoft.Azure.Cosmos.Tests.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Pagination/InMemoryContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/SplitPartitionQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionKeyHashBaselineTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionKeyHashRangeSplitterAndMerger.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

hotfix release 3.35.4
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.35.4-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.35.4.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

bump version and changelog
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.35.4-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.35.4.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTelemetryConfigurationTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

added apis
  Microsoft.Azure.Cosmos/contracts/API_3.35.3-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.35.3.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

Update changelog.md
  changelog.md
Due: none

SDK 3.35.4: Adds version bump and changelog (#4087)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.35.4-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.35.4.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added query validity function on Ode code path
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fixed syntax
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to fix some of the failing tests.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

draft to console trace RNTBS reqeusts
  Microsoft.Azure.Cosmos/src/direct/TransportSerialization.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated the DeserializeClientQLBinaryLiteral function
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/ClientQL/ClientQLBinaryLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/CoordinatorDistributionPlanDeserializer.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Successfully ignore "key"
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/QueryUnderConstruction.cs
  Microsoft.Azure.Cosmos/src/SqlObjects/SqlGroupByClause.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Bump the CosmosDB version
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Due: azure-pipelines.yml

Bump CosmosDB versions
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
Due: azure-pipelines.yml

Forgot to make the override public
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionContainer.cs
Due: azure-pipelines.yml

Fixed variable names
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/CoordinatorDistributionPlanDeserializer.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml
