Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-encryption-custom-compatibility.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly Compatibility Test (Full Matrix)
    branches:
      include:
      - master
    always: true
  stages:
  - stage: ApiCompatibilityCheck
    displayName: API Compatibility Check
    jobs:
    - job: CheckApi
      displayName: Validate API Surface
      pool:
  ...

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-msdata-direct.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-ctl.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)
  - template: templates/build-samples.yml
  ...

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

DistributedTransaction: Adds tunable abort-retry options to CosmosClientOptions
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Thinclient integration: Fixes resource token auth for thinclient mode. (#6032)
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemThinClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix: preserve encrypted stream payload fidelity
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/ArrayPoolManager.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProperties.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/JObjectSqlSerializer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDataCorruptionFixTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

test: rework cross-version compatibility matrix
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Current/CompatMatrix.Current.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Old/CompatMatrix.Old.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/README.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/RUN-REPORT.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Released/CompatMatrix.Released.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Worker/KeyProviders.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Worker/Program.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/nuget.config
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/run-matrix.ps1
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/src/KeyProviders.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/src/Program.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/CompatibilityMatrix/CompatibilityMatrixInfrastructure.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/CompatibilityMatrix/CompatibilityMatrixInfrastructureTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/CompatibilityMatrix/CrossVersionCompatibilityTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/Microsoft.Azure.Cosmos.Encryption.Custom.EmulatorTests.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/Utils/TestCommon.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CompatMatrixContractTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

docs: link changelog to replacement pull request
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

DistributedTransaction: derive durable-Aborted from 452 status code instead of a body field
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

LINQ: Fixes Take() mutating MaxItemCount on QueryRequestOptions (#6023)
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/CosmosItemLinqTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/QueryTestsBase.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/SanityQueryTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Metadata Hedging: Adds test confirming hedge runs on the detached token from PR #5844 (#6033)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingDetachedTokenInteractionTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Adds status-code clarity for metadata and data-plane hedging (#6015)
  docs/Cross Region Request Hedging.md
  docs/metadata-hedging-simple-design.md
Due: none

Distributed Transactions: Adds public SessionToken getter on DistributedTransactionOperationResult
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Adds changelog PR link
  changelog.md
Due: none

Use Assembly.GetType instead of Type.GetType to avoid TypeResolve event
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add changelog entry for #6024
  changelog.md
Due: none

[Internal] Docs: Adds comprehensive CI and pipelines reference guide (#6034)
  docs/builds-and-pipelines.md
Due: none

Add QuantizerType
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorIndexDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/QuantizerType.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorIndexPath.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Cross Region Hedging: Fixes InvalidOperationException from hedge timer disposal race
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Changelog: Adds entry for hedge timer disposal race fix
  changelog.md
Due: none

[Internal] Pipelines: Fixes run-creation failure caused by duplicate timeline record insert
  templates/build-test-msdata.yml
  templates/build-test.yml
  templates/build-thinclient.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Pipelines: Fixes run-creation failure caused by duplicate timeline record insert (#6052)
  templates/build-test-msdata.yml
  templates/build-test.yml
  templates/build-thinclient.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

LINQ: Fixes MemoryExtensions.Contains for enum arrays on .NET 10 (#6003)
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog
  changelog.md
Due: none

Use Assembly.GetType instead of Type.GetType to avoid TypeResolve event in AppDomain-isolated hosts (#6025)
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PPAF: Fixes write-hedging concurrency and endpoint-binding review feedback
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/AvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GlobalEndpointManagerTest.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Pipelines: Fixes rolling and nightly running quarantined tests in preview job
  azure-pipelines-nightly.yml
  azure-pipelines-rolling.yml
  templates/build-preview.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Tests: Fixes live AAD lane going green when every case is skipped
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadLiveTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  templates/build-test-aad.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Refactors AAD background refresh assertion off the double cast
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadLiveTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds DistributedTransactionResponseMode to DistributedTransactionResponse
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponseMode.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Routing: Refactors partition-move cache refresh into a shared primitive (#6020)
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PartitionKeyRangeCacheTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors CommitTransactionAsync to ExecuteTransactionAsync (#6037)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedReadTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedReadTransactionCore.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransactionCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryConstants.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedReadTransactionE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionConditionalE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedReadTransactionCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedWriteTransactionTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Address review: expand changelog for Direct 3.44.0 and add env-var kill switch test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BarrierEarlyYieldOn429Tests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] FaultInjection: Refactors documentation for accuracy and completeness (#6035)
  Microsoft.Azure.Cosmos/FaultInjection/DEVELOPMENT.md
  Microsoft.Azure.Cosmos/FaultInjection/README.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] FaultInjection: Adds Direct version bump verification to the PR pipeline
  Microsoft.Azure.Cosmos/FaultInjection/DEVELOPMENT.md
  azure-pipelines-faultinjection.yml
  azure-pipelines.yml
  templates/build-fault-injection.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix nightly emulator job failing on undefined EMULATORMSIURL
  azure-pipelines-nightly.yml
  docs/builds-and-pipelines.md
  templates/build-preview.yml
  templates/emulator-setup.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

FaultInjection: Fixes standing integration test failures
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionDirectModeTests.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionGatewayModeTests.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionMetadataTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Fixes resource body to surface coordinator data verbatim (#6036)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Adds public SessionToken getter on DistributedTransactionOperationResult (#6049)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Tests: Adds live-account AAD integration tests (#5988)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadLiveTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  templates/build-test-aad.yml
  templates/build-test.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix changelog merge: move 6049 to Features Added, deduplicate Breaking Changes heading
  changelog.md
Due: none

Widen CancellationTokenDoesNotCancelFailover timeout from 5s to 30s
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CancellationTokenTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
