Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: $(BuildConfiguration)
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: $(BuildConfiguration)
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

Update Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/QueryTextMode.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/QueryTextMode.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Client encryption]: Add baseline benchmarks for `Microsoft.Azure.Cosmos.Encryption.Custom` (#4679)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/AssemblyInfo.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/EncryptionBenchmark.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Program.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/TestDoc.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/sampledata/testdoc-100kb.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/sampledata/testdoc-10kb.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/sampledata/testdoc-1kb.json
  Microsoft.Azure.Cosmos.sln
Due: azure-pipelines.yml

Query: Adds deserialization of HybridSearchQueryInfo to the query plan (#4724)
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/HybridSearchQueryInfo.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/PartitionedQueryExecutionInfo.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/PartitionedQueryExecutionInfoInternal.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/QueryFeature.cs
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/QueryPartitionProvider.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/QueryPartitionProviderTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

~ switch Newtonsoft to use ArrayPool
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayPool.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
Due: azure-pipelines.yml

Code changes to use clonable stream instead of buffered stream.
  Microsoft.Azure.Cosmos/src/Resource/Conflict/ConflictsCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.Items.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactory.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactoryCore.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSerializationUtil.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSerializerCore.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSystemTextJsonSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Client encryption]: Update MDE dependency to v1.2.0 (#4673)
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
Due: azure-pipelines.yml

~ update benchmark results after upgrade to MDE 1.2.0
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
Due: azure-pipelines.yml

Update Directory.Build.props
  Directory.Build.props
Due: azure-pipelines.yml

[INTERNAL] UnitTest: Regions type public fields validation
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Client encryption]: Switch Newtonsoft.Json to use ArrayPool (#4726)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayPool.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
Due: azure-pipelines.yml

[Client encryption]: Fixes benchmark results after upgrade to MDE 1.2.0 (#4727)
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
Due: azure-pipelines.yml

Addressing review comments.
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GlobalEndpointManagerTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Excusing the two failing regions
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

contract fix
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

add IsClientMetricsEnabled option
  Microsoft.Azure.Cosmos/src/CosmosClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

added contract file
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added request level metrics
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/TelemetryInformation.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetrics.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientCreateAndInitializeTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

wip
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetrics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientCreateAndInitializeTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft - Backup.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

more changes
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/CustomMetricExporter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

adding test
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetrics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/CustomMetricExporter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

wip
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/src/Handler/TelemetryHandler.cs
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/TelemetryInformation.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetrics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/CustomMetricExporter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

rewrite meters
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/CosmosOperationMeter.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetrics.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetricsConstant.cs
  Microsoft.Azure.Cosmos/src/Telemetry/TelemetryToServiceHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientCreateAndInitializeTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

refactor code
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/CosmosOperationMeter.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetricsConstant.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/CustomMetricExporter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

contract update
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

dimension names
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryAttributeKeys.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

test fix
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryAttributeKeys.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

import fixes
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/ITelemetryCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/Collector/OpenTelemetryMetricsCollector.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/CosmosOperationMeter.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryMetricsConstant.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Metrics/OpenTelemetryMetricsTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

reequest => request
  docs/observability.md
Due: none

~ drop repeated DEK calls ~ reduce validations overhead
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosEncryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Encryptor.cs
Due: azure-pipelines.yml

! typo
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosEncryptor.cs
Due: azure-pipelines.yml

~ update benchmark
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
Due: azure-pipelines.yml

PatchItemAsync: Adds documentation on behavior of Replace patch operation when replacing properties that do not exist. (#4632)
  Microsoft.Azure.Cosmos/src/Patch/PatchOperation.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

add this scenario "AA", "AA", true, "", "AA", false, false
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IsFeedRangePartOfAsyncTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

adding scenario "AA", "AA", true, "AA", "AZ", false, true
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IsFeedRangePartOfAsyncTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

~ fix tests ~ update api file
  Microsoft.Azure.Cosmos.Encryption.Custom/src/AeadAes256CbcHmac256Algorithm.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/LegacyEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/AeadAes256CbcHmac256AlgorithmTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/MdeEncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/ContractEnforcement.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

all recent new scenarios
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IsFeedRangePartOfAsyncTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addressing the comments
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

reequest => request (#4736)
  docs/observability.md
Due: none

made a change for isSubset to substract the max if MaxExclusive. specifically to fix this scenario "10", "11", false, "10", "10", true, true
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.Items.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IsFeedRangePartOfAsyncTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
