Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

fix test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix sln
  Microsoft.Azure.Cosmos.sln
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Update CosmosItemIntegrationTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add additional parameter in proxy request.
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/GatewayStoreClient.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/ThinClientStoreClient.cs
  Microsoft.Azure.Cosmos/src/ThinClientTransportSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientTransportSerializerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PPAF: Fixes issue where setting `RequestTimeout` to `0` second will cause PPAF dynamic enablement to break (#5427)
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Build: Removes System.Net.Http and System.Text.RegularExpressions package references (#5386)
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DirectContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

feat: add compatibility testing infrastructure
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Directory.Packages.props
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/VersionMatrix.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/testconfig.json
  Microsoft.Azure.Cosmos.sln
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

feat: add compatibility test suite with cross-version testing
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/CrossVersionEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/SideBySide/IsolatedLoadContext.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/SideBySide/VersionLoader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/TestFixtures/CompatibilityTestBase.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

feat: add Azure DevOps pipeline for compatibility testing
  azure-pipelines-encryption-custom-compatibility.yml
  templates/encryption-custom-apicompat-check.yml
  templates/encryption-custom-compatibility-test-steps.yml
  templates/encryption-custom-compatibility-test.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

feat: add compatibility testing tools and scripts
  Microsoft.Azure.Cosmos.Encryption.Custom/ApiCompatSuppressions.txt
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/test-compatibility.ps1
  tools/apicompat-check.ps1
  tools/build-local-encryption-custom-package.ps1
  tools/discover-published-versions.ps1
  tools/download-package-version.ps1
  tools/test-api-compat-local.ps1
  tools/update-test-matrix.ps1
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

docs: add comprehensive compatibility testing documentation
  docs/compatibility-testing/00-OVERVIEW.md
  docs/compatibility-testing/01-AGENT1-INFRASTRUCTURE.md
  docs/compatibility-testing/02-AGENT2-TEST-SUITE.md
  docs/compatibility-testing/03-AGENT3-PIPELINE.md
  docs/compatibility-testing/04-AGENT4-APICOMPAT.md
  docs/compatibility-testing/05-AGENT5-DOCS-SCRIPTS.md
  docs/compatibility-testing/06-AGENT6-ADVANCED.md
  docs/compatibility-testing/AGENT1-COMPLETION.md
  docs/compatibility-testing/AGENT2-COMPLETION.md
  docs/compatibility-testing/AGENT3-COMPLETION-SUMMARY.md
  docs/compatibility-testing/AGENT3-QUICKREF.md
  docs/compatibility-testing/AGENT3-SUMMARY.md
  docs/compatibility-testing/AGENT4-COMPLETION.md
  docs/compatibility-testing/AGENT5-COMPLETION-SUMMARY.md
  docs/compatibility-testing/AGENT5-SUMMARY.md
  docs/compatibility-testing/AGENT6-COMPLETION-SUMMARY.md
  docs/compatibility-testing/API-CHANGES.md
  docs/compatibility-testing/CHEATSHEET.md
  docs/compatibility-testing/EXECUTIVE-SUMMARY.md
  docs/compatibility-testing/FRAMEWORK-COMPLETE.md
  docs/compatibility-testing/IMPLEMENTATION-SUMMARY.md
  docs/compatibility-testing/MAINTENANCE.md
  docs/compatibility-testing/NEXT-STEPS.md
  docs/compatibility-testing/PIPELINE-GUIDE.md
  docs/compatibility-testing/QUICKSTART.md
  docs/compatibility-testing/README.md
  docs/compatibility-testing/SUMMARY.md
  docs/compatibility-testing/TEST-EXECUTION-REPORT.md
  docs/compatibility-testing/TROUBLESHOOTING.md
  docs/compatibility-testing/VALIDATION-COMPLETE.md
  docs/compatibility-testing/VALIDATION-REPORT.md
Due: none

Code changes to fix vector datatype ordering.
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorDataType.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

VectorDataType: Fixes Enum Ordering for `Float16` Data Type (#5432)
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorDataType.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

update contracts, version, and changelog
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.54.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.55.0-preview.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

added note
  changelog.md
Due: none

VectorDataType: Fixes Enum Ordering for Float16 Data Type
  Microsoft.Azure.Cosmos/contracts/API_3.54.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.55.0-preview.0.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

3.54.0: Adds new contracts/ version, and updates changelog (#5431)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.54.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.55.0-preview.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Upgraded Newtonsoft to latest version 13.0.4 that support Trim Annotations
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] AOT: Adds version bump up to 0.1.4-preview.2 release (#5434)
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Refactor compatibility tests and enhance version matrix
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/CompatibilityTestBase.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/CrossVersionEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/Directory.Packages.props
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/README.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/REFACTORING_SUMMARY.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/SideBySide/VersionLoader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/VersionMatrix.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/VersionValidationTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.CompatibilityTests/testconfig.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/build-current-source.ps1
  templates/encryption-custom-compatibility-test-steps.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Remove Credentials from tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ActiveClientDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

updated endpoint
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ActiveClientDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

dummykey to placeholder and dummy account name to example
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ActiveClientDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog.md
  changelog.md
Due: none

contracts
  Microsoft.Azure.Cosmos/contracts/API_3.53.2.txt
  Microsoft.Azure.Cosmos/contracts/API_3.54.0-preview.2.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

updates
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/SemanticRerankRequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInlineCore.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosClientContext.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix key name
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ActiveClientDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

3.53.2: Adds updated changelog and contracts (#5439)
  Microsoft.Azure.Cosmos/contracts/API_3.53.2.txt
  Microsoft.Azure.Cosmos/contracts/API_3.54.0-preview.2.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

tests
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/SemanticRerankRequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/SemanticRerankingIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

MSRC: Fixes dummy account endpoint and keys in tests (#5437)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ActiveClientDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Reverted changes
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/Contracts/ContractEnforcementTests.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Simplified check
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/ContractEnforcementTests.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Update contract tests and baselines for new API features
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/ContractEnforcementTests.cs
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/Contracts/DotNetSDKEncryptionAPI.net8.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/QueryPlanBaselineTests.GroupBy.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/TraceWriterBaselineTests.TraceData.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update test project to include multiple API contract files
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests.csproj
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml
