Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops 


jobs: 
- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines-preview.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops
  Preview: 1


jobs:
- template:  templates/static-tools.yml
  parameters:
    BuildConfiguration: Release
    VmImage: $(VmImage)
        

#- template:  templates/build-test.yml
#  parameters:
#    BuildConfiguration: Debug
#    Arguments: $(DebugArguments)
#    VmImage: $(VmImage)

- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - '*'
    exclude:
    - '*.md'
    - 'docs/**/*'
    - 'Microsoft.Azure.Cosmos/contracts/**/*'

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops


jobs:
- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

Add cultural info to test to verify correct behavior
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Parser/SqlParserBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address minor review comments.
  docs/sync_up_msdata_direct.md
Due: none

Removed internal links.
  docs/sync_up_msdata_direct.md
Due: none

[Internal] Documentation: Adds msdata/direct Sync-up Guide. (#3828)
  docs/sync_up_msdata_direct.md
Due: none

address reviews
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqTranslationBaselineTests.TestStringFunctions.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqTranslationBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Support newtonsoft member access via ExtensionData
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TypeSystem.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/CosmosLinqJsonConverterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add URI Decode logic
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexUtilizationInfo.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IndexMetricsParserBaselineTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update baseline
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/IndexMetricsParserBaselineTest.IndexUtilizationParse.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Return null instead of empty string
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TypeSystem.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

address pr review to restore to restore culture
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Parser/SqlParserBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added tests for select & where
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqSQLTranslationBaselineTest.ValidateSQLTranslation.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqSQLTranslationBaselineTest.ValidateSQLTranslationComplexData.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqSQLTranslationBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/CosmosLinqJsonConverterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated baseline with note
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqSQLTranslationBaselineTest.ValidateSQLTranslationComplexData.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqSQLTranslationBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix comment
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Parser/SqlParserBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Query: Adds TRIM string system function support in LINQ (#3833)
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/StringBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqTranslationBaselineTests.TestStringFunctions.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqTranslationBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Query: Fixes Parsing Error in SQL DOM when CultureInfo is available (#3832)
  Microsoft.Azure.Cosmos/src/Query/Core/Parser/CstToAstVisitor.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Parser/SqlParserBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Adds api FetchDataEncryptionKeyWithoutRawKeyAsync and FetchDataEncryptionKeyAsync to get DEK without and with raw key respectively. (#3809)
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosEncryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyContainerCore.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/MdeServices/MdeEncryptionAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/LegacyEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CosmosEncryptorTests.cs
Due: azure-pipelines.yml

Integrated cache: Add BypassIntegratedCache to DedicatedGatewayRequestOptions
  Microsoft.Azure.Cosmos/src/Resource/Settings/DedicatedGatewayRequestOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add rntbd health check improvements.
  Microsoft.Azure.Cosmos/src/direct/Channel.cs
  Microsoft.Azure.Cosmos/src/direct/Connection.cs
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Initial commit (#3826)
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/BaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqGeneralBaselineTests.TestLambdaReuse.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqGeneralBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fixes after test run.
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Initial commit
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ComputedPropertiesDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ComputedProperty.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertiesComparer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/settings.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Restored settings.json changes.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/settings.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addressed comments; still need to be tested using Emulator.
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ComputedPropertiesDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ComputedProperty.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyComparer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Ignored the computed property tests based on the sync this morning (to allow for preview release).
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Test update.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Suite0 fixes.
  Microsoft.Azure.Cosmos/src/Resource/Settings/ComputedProperty.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Suite0 fixes
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Query: Adds Computed Property SDK Support (#3761)
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ComputedPropertiesDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ComputedProperty.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyComparer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ComputedPropertyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

initial work - DO NOT REVIEW
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/CosmosFaultInjectionHelper.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjection.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjection.sln
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionCondition.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConditionBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConditionInternal.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConnectionErrorResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConnectionErrorResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConnectionErrorRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConnectionErrorType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionConnectionType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionEndpoint.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionEndpointBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionOperationType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionProvider.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionRuleBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionRuleProcessor.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionRuleStore.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionServerErrorResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionServerErrorResultBuilder.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionServerErrorRule.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectionServerErrorType.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/FaultInjectorProvider.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/IFaultInjectionResult.cs
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/IFaultInjectionRuleInternal.cs
  Microsoft.Azure.Cosmos/src/FaultInjection/FaultInjectionRequestContext.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Samples: Adds OpenTelemetry and Application Insights samples (#3818)
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/ApplicationInsights.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/OpenTelemetry.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/Program.cs
Due: azure-pipelines.yml

Code changes to refactor connection health check changes.
  Microsoft.Azure.Cosmos/src/direct/Channel.cs
  Microsoft.Azure.Cosmos/src/direct/Connection.cs
  Microsoft.Azure.Cosmos/src/direct/ConnectionHealthChecker.cs
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

initial commit DONT REVIEW
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/parameters.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/template.json
Due: azure-pipelines.yml

Cleaned up code and updated benchmarkResults
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fixes and documentation
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm1.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm2.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/arm3.png
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/benchmarkTemplate.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/parameters.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/run.sh
Due: azure-pipelines.yml

Apply suggestions from code review
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
Due: azure-pipelines.yml

Infrastructure for performance testing with ODE pipeline.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryPerfTest/MetricsSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryPerfTest/OptimisticDirectExecutionPerformanceTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryPerfTest/QueryStatisticsDatumVisitor.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryPerfTest/QueryStatisticsMetrics.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

requested changes
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/benchmarkTemplate.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/ARMTemplate/parameters.json
Due: azure-pipelines.yml

Code changes to refactor code.
  Microsoft.Azure.Cosmos/src/direct/Connection.cs
  Microsoft.Azure.Cosmos/src/direct/ConnectionHealthChecker.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated benchmarkResults
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Contracts/BenchmarkResults.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml
