Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-encryption-custom-compatibility.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly Compatibility Test (Full Matrix)
    branches:
      include:
      - master
    always: true
  stages:
  - stage: ApiCompatibilityCheck
    displayName: API Compatibility Check
    jobs:
    - job: CheckApi
      displayName: Validate API Surface
      pool:
  ...

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-msdata-direct.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-ctl.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)
  - template: templates/build-samples.yml
  ...

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

Fix tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add hub region header for read consistency strategy
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code cleanup
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add KEK revocation details to spec
  openspec/changes/reduce-encryption-contention/design.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix RNTBD Dispatcher idle timer thread pool starvation (#4393)
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
  scripts/run-linux-tests.sh
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add unit test for Dispatcher idle timer fix
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DispatcherIdleTimerFixTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Reshape RntbdIdleTimer integration test as wiring regression guard
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/RntbdIdleTimerStarvationTests.cs
  scripts/Dockerfile.test
  scripts/LinuxSmoke/LinuxSmoke.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add validation report for #4393 fix
  VALIDATION.md
Due: none

Tests: Adds request URI diagnostics to InitTaskThreadSafe
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Restore Gateway mode substatus guard in CosmosNotFoundTests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosNotFoundTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PartitionKey: Fixes latent issues in ContainerPropertiesExtensions and hardens InitTaskThreadSafe
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerPropertiesExtensions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PartitionKey: Refactors exception filter for HPK id-append pre-flight lookup
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerPropertiesExtensions.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Fixes MemoryTextReader.ReadToEnd returning empty string (#5801)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MemoryTextReader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/MemoryTextReaderTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Client encryption]: Adds synchronous initialization to CosmosDataEncryptionKeyProvider (#5423)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net6.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net8.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CosmosDataEncryptionKeyProviderTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Refactors JSON property names into shared constant and changes etag constant
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add more tests for hub region retry
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] DTS: Refactors JSON property names into shared constant and changes etag constant (#5818)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors GetLocation XML doc to reflect post-PR behavior
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Client Encryption] Add ArrayPool-backed pooled streams for reduced allocations in streaming encrypt/decrypt operations (#5479)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/ArrayPoolManager.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/PooledJsonSerializer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/PooledMemoryStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/PooledStreamConfiguration.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/ReadOnlyBufferWriterStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EncryptionPropertiesStreamReader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/EncryptionBenchmark.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Readme.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/ArrayPoolManagerTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/MdeEncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledJsonSerializerSecurityTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledJsonSerializerTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledMemoryStreamTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledResourceDisposalTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledResourceStressTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/ReadOnlyBufferWriterStreamTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/StreamProcessorConcurrencyAndCancellationTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/Adapters/SystemTextJsonStreamAdapterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/EncryptionPropertiesStreamReaderTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorEncryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Linq: Fixes ConstantEvaluator and ArrayContainsVisitor for .NET 10 MemoryExtensions.Contains
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/src/Linq/ConstantEvaluator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add Abhijeet, Debdatta, and Annie as code owners
  CODEOWNERS
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Expand owners for Deb/Abhijeet/Annie across all rules; remove kirillg
  CODEOWNERS
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Address PR feedback: use typeof() checks, scope to Contains only
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/BuiltinFunctionVisitor.cs
  Microsoft.Azure.Cosmos/src/Linq/ConstantEvaluator.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update CODEOWNERS: add Abhijeet/Deb/Annie across all rules, remove kirillg (#5820)
  CODEOWNERS
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Tests: Adds comprehensive coverage for MemoryExtensions.Contains fix
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Fixes NonSpanOpImplicit test to use Decimal (available on all runtimes)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ConstantEvaluator: Removes redundant MemoryExtensions.Contains check
  Microsoft.Azure.Cosmos/src/Linq/ConstantEvaluator.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Only setting hub region header for LastCommittedWriteRegion ReadConsistencyStrategy and only for read operation type
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update ClientRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Retry: Adds client-side 449 (RetryWith) retry with jittered exponential backoff
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Refactors master branch references to main (#5811)
  .github/agents/issue-fix-agent.agent.md
  .github/agents/msdata-direct-sync-agent.agent.md
  .github/agents/release-copilot-agent.agent.md
  .github/copilot-instructions.md
  .gitignore
  CONTRIBUTING.md
  README.md
  changelog.md
  docs/Cross Region Request Hedging.md
  docs/LocalQuorum.md
  docs/builds-and-pipelines.md
  docs/caches.md
  docs/observability.md
  docs/sync_up_msdata_direct.md
  templates/build-preview.yml
  templates/static-tools-encryption-custom.yml
  templates/static-tools-encryption.yml
  tools/msdata-direct-sync-helper.ps1
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

fix #1664
  Microsoft.Azure.Cosmos/src/Linq/SubtreeEvaluator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/ConstantEvaluatorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update contracts and fix tests
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Pipelines: Adds main alongside master in CI trigger filters (#5812)
  azure-pipelines-cron.yml
  azure-pipelines-functional.yml
  azure-pipelines-nightly.yml
  azure-pipelines-rolling.yml
  azure-pipelines.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

FaultInjection: Adds 1.0.0-beta.1 release
  Directory.Build.props
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

MetadataRetryHelper: Adds mid-backoff cancellation grace transition test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataRetryHelperTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

HttpTimeoutPolicy: Fixes aggressive 500ms first-attempt timeout in HttpTimeoutPolicyControlPlaneRetriableHotPath
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicyControlPlaneRetriableHotPath.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

FaultInjection: Adds 1.0.0-beta.1 release (#5822)
  Directory.Build.props
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

MetadataRetryHelper: Downgrades grace-grant log to TraceVerbose
  Microsoft.Azure.Cosmos/src/MetadataRetryHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
