Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

Updated more variable names
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/CoordinatorDistributionPlanDeserializer.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated to use string search instead of query parsing
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

removed the empty entity
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsInfoEntity.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

update test parse
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Metrics/IndexUtilizationInfoTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Fixes escaped string parsing in SqlParser (#4054)
  Microsoft.Azure.Cosmos/src/Query/Core/Parser/CstToAstVisitor.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/BaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/ScalarExpressionSqlParserBaselineTests.StringLiteral.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Microsoft.Azure.Cosmos.Tests.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Parser/ScalarExpressionSqlParserBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated string search to now be regex
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to fix unit tests.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PartitionKeyRangeFailoverTests/GlobalPartitionEndpointManagerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Changed location of caller for QueryValidityCheck()
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove changes value
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
Due: azure-pipelines.yml

update run.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines.yml

pk value fix
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
Due: azure-pipelines.yml

set pk
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkProgress.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
Due: azure-pipelines.yml

pk to result container
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
Due: azure-pipelines.yml

update test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Metrics/IndexUtilizationInfoTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

clean up code
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Sucessfully bind the case of group by with only key selector and no value selector followed by an optional select clause
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/QueryUnderConstruction.cs
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
  Microsoft.Azure.Cosmos/src/Linq/Utilities.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/LinqGeneralBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove telemetry service end point
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/loop.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines.yml

cleanup
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines.yml

Removed support for Type
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/CoordinatorDistributionPlanDeserializer.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/CoordinatorDistributionPlan.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLAggregate.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLAggregateEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLArrayIndexerScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLBaseType.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLBaseTypeKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLBuiltinScalarFunctionKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLEnumType.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLGroupByKey.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLNumberLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLProgram.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSelectEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTakeEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleItemRefScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleType.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLType.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTypeKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLWhereEnumerableExpression.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Removed all extra newlines
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLArrayCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLDistinctEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLGroupByEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLInputEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLIsOperatorScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLLetScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLLiteralScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLMuxScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLObjectCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLOrderByEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLPropertyRefScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLScalarAsEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSelectManyEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSystemFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTakeEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLUnaryScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLUserDefinedFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLVariableRefScalarExpression.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/CoordinatorDistributionPlanBaselineTests.TestCoordinatorDistributionPlanDeserialization.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add unit tests for client options.
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated regex string
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to draft docs for PPAF design approach.
  docs/PerPartitionAutomaticFailoverDesign.md
Due: none

Bechmark : Fixes benchmark runs (#4088)
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkProgress.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/loop.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines.yml

fixed run.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines.yml

Added extra test coverage
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Adds Index Metrics V2 Object Model (#4058)
  Microsoft.Azure.Cosmos/src/Handler/ResponseMessage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/CompositeIndexIndexMetrics.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsInfo.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsInfoEntity.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexMetricsWriter.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexUtilizationInfo.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/SingleIndexIndexMetrics.cs
  Microsoft.Azure.Cosmos/src/Query/v2Query/DefaultDocumentQueryExecutionContext.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryResponse.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IndexMetricsParserBaselineTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/PopulateIndexMetricsTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/QueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Metrics/IndexUtilizationInfoTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added null checks
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/CoordinatorDistributionPlan.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLAggregateEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLArrayCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLArrayIndexerScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLArrayLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLBinaryLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLBinaryScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLDistinctEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLFunctionIdentifier.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLGroupByEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLInputEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLIsOperatorScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLLetScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLLiteralScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLMJavaScriptLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLMRegexLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLMSymbolLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLMuxScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLObjectCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLObjectLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLObjectLiteralProperty.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLObjectProperty.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLOrderByEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLOrderByItem.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLPropertyRefScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLScalarAsEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSelectEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSelectManyEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLStringLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLSystemFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTakeEnumerableExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleAggregate.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLTupleItemRefScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLUnaryScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLUserDefinedFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLVariable.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLVariableRefScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/CoordinatorDistributionPlan/QL/QLWhereEnumerableExpression.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added const string to error messages
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Removed all support for Cassandra, Mongo and Binary Literal
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/ClientDistributionPlanDeserializer.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLAggregateOperatorKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLArrayCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLArrayKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLBinaryLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLBuiltinScalarFunctionKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLCGuidLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLCNumberLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLEnumerableExpressionKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLLetScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLLiteralKind.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMDateTimeLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMJavaScriptLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMNumberLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMRegexLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMSingletonLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLMSymbolLiteral.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLObjectCreateScalarExpression.cs
  Microsoft.Azure.Cosmos/src/Query/Core/ClientDistributionPlan/QL/QLObjectKind.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/ClientDistributionPlanBaselineTests.TestClientDistributionPlanDeserialization.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added compile flag to Regex
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

first draft
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

refactor
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/CosmosDbEventSource.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/Filters/DiagnosticsFilterHelper.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/AssertActivity.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Telemetry/DiagnosticsFilterHelperTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix tests
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/AssertActivity.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fixed condition
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Put GetAllVersionsChangeFeed override behind SDKPROJECTREF
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionContainer.cs
Due: azure-pipelines.yml

Updated baseline test class property.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Microsoft.Azure.Cosmos.Tests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

minor changes
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Program.cs
  Microsoft.Azure.Cosmos/src/CosmosClientTelemetryOptions.cs
  Microsoft.Azure.Cosmos/src/CosmosThresholdOptions.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryRecorderFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TransportClientHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
