Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

add trim support
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/StringBuiltinFunctions.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Making regex expression readable
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/CustomListener.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

adding ray key to Mde Algo
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyContainerCore.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/MdeServices/MdeEncryptionAlgorithm.cs
Due: azure-pipelines.yml

test case changes
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
Due: azure-pipelines.yml

Add config changes
  .github/fabricbot.json
Due: azure-pipelines.yml

Polishing automerge config
  .github/fabricbot.json
Due: azure-pipelines.yml

Do not call serializer if ResponseMessage.Content is empty.
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactoryCore.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Adding comment for regex expression
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/CustomListener.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add unit test
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactoryCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

resolving code review comments
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyContainerCore.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/MdeServices/MdeEncryptionAlgorithm.cs
Due: azure-pipelines.yml

[Internal] OpenTelemetry: Direct Package update and replacing diagnostic files (#3797)
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Exceptions/ChangeFeedProcessorUserException.cs
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/OSS/Azure.Core/AppContextSwitchHelper.cs
  Microsoft.Azure.Cosmos/src/OSS/Azure.Core/DiagnosticScope.cs
  Microsoft.Azure.Cosmos/src/OSS/Azure.Core/DiagnosticScopeFactory.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosException.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosNullReferenceException.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosObjectDisposedException.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosOperationCanceledException.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryRecorderFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BatchOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.BulkOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ChangeFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.MiscellanousAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.PointOperationsExceptionsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadManyAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.StreamPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.TypedPointOperationsAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/AssertActivity.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/CustomListener.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Tracing/EndToEndTraceWriterBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/Util.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

resolving code review comments
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
Due: azure-pipelines.yml

Update unit tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Remove unused usings
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

add opentelemetry and application insights samples
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/ApplicationInsights.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/Cosmos.Samples.Usage.sln
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/OpenTelemetry.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/Program.cs
Due: azure-pipelines.yml

[Internal] MerlinBot: Adds auto-merge and cleanup automation (#3813)
  .github/fabricbot.json
Due: azure-pipelines.yml

Set EnableDistributedTracing to true for performance tests
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
Due: azure-pipelines.yml

Benchmark project change for distributed tracing
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/CosmosBenchmark.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
Due: azure-pipelines.yml

Updated comment
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/CosmosLinqJsonConverterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updating tests
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Using stackalloc in ConvertToBase64string method
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updating stackalloc implementation in Autorization method
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

code optimization to reduce keyvault calls
  Microsoft.Azure.Cosmos.Encryption.Custom/src/MdeServices/MdeEncryptionAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
Due: azure-pipelines.yml

Updated unit tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add maximum capacity limit
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add doc
  docs/builds-and-pipelines.md
Due: none

Move benchmark
  templates/build-benchmark.yml
  templates/build-preview.yml
Due: azure-pipelines.yml

Fixing texts
  docs/builds-and-pipelines.md
Due: none

release 3.30.0
  Microsoft.Azure.Cosmos/contracts/API_3.33.0-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.33.0.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

added changelog
  Directory.Build.props
  changelog.md
Due: azure-pipelines.yml

Updated unit tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update maxCapacity in Authorizationhelper
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated tests and constructors based on review comments
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryRecorderFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

updated changelog
  changelog.md
Due: none

Update fabricbot.json
  .github/fabricbot.json
Due: azure-pipelines.yml

Updated scope name in recorder
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryRecorderFactory.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

suggested change to changelog
  changelog.md
Due: none

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
