Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-encryption-custom-compatibility.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly Compatibility Test (Full Matrix)
    branches:
      include:
      - master
    always: true
  stages:
  - stage: ApiCompatibilityCheck
    displayName: API Compatibility Check
    jobs:
    - job: CheckApi
      displayName: Validate API Surface
      pool:
  ...

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-msdata-direct.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-ctl.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)
  - template: templates/build-samples.yml
  ...

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

LINQ: Fixes MemoryExtensions.Contains for enum arrays on .NET 10 (#5980)
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging (v2): Adds fault-injection stress harness and results for PR 5999
  Microsoft.Azure.Cosmos/FaultInjection/tests/MetadataHedgingV2FaultInjectionHarness.cs
  docs/metadata-hedging-v2-stress/README.md
  docs/metadata-hedging-v2-stress/fi1_latency_pr_vs_main.png
  docs/metadata-hedging-v2-stress/fi2_hedge_attribution.png
  docs/metadata-hedging-v2-stress/fi3_saturating_no_budget_cdf.png
  docs/metadata-hedging-v2-stress/fi4_mixed_e2e_honest.png
  docs/metadata-hedging-v2-stress/fi5_fastfail_no_budget.png
  docs/metadata-hedging-v2-stress/fi6_amplification_tradeoff.png
  docs/metadata-hedging-v2-stress/fi_ops.csv
  docs/metadata-hedging-v2-stress/fi_scenarios.csv
  docs/metadata-hedging-v2-stress/fi_winregions.csv
  docs/metadata-hedging-v2-stress/plot_fi_v2.py
  docs/metadata-hedging-v2-stress/summary.txt
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Refactors ShouldTrace gate into DiagnosticsHandlerHelper static method
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Adds test coverage for non-enum types and comparer-ignored scenarios
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

docs(dtx): remove Rust port notes and client-side address resolution reference
  docs/DistributedTransactionsRestContract.md
Due: none

Diagnostics: Fixes NoOpTrace.Singleton.Summary null from static init order
  Microsoft.Azure.Cosmos/src/Tracing/NoOpTrace.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Fixes eager diagnostics serialization in internal trace call sites when sink is a no-op (#5948)
  Microsoft.Azure.Cosmos/src/Handler/DiagnosticsHandlerHelper.cs
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Rejects non-null IEqualityComparer in 3-arg MemoryExtensions.Contains
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Simplifies non-null comparer handling: falls through to standard error path
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Adds changelog entry for enum array Contains fix (#5980)
  changelog.md
Due: none

Adds changelog entry for Full-Text Policy preview feature (#5968)
  changelog.md
Due: none

[Internal] Tests: Refactors AAD live tests to run on nightly only
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  templates/build-test-aad.yml
  templates/build-test.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

FaultInjection: Adds RetryWith (449) server error injection for Gateway mode
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionGatewayModeTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

FaultInjection: Fixes changelog PR reference to #6004
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes regional-fault classification to treat primary connection failures as hedgeable
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  docs/metadata-hedging-simple-design.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Change Feed Estimator: Fixes inflated lag for uncheckpointed leases (issue #5847) (#5851)
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorState.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/EstimatorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorIteratorTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[POC] Native driver: Refactors PR scope to POC-only and aligns #4515 ABI
  .gitignore
  AsyncFfiPoc.sln
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/.env.example
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/BenchmarkSettings.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/CreateItemBenchmark.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/DeleteItemBenchmark.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/Microsoft.Azure.Cosmos.NativeDriverBenchmark.csproj
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/Microsoft.Azure.Cosmos.NativeDriverBenchmark.sln
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/Program.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/QueryItemsBenchmark.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/README.md
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/ReadItemBenchmark.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/ReplaceItemBenchmark.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverBenchmark/scripts/Load-Env.ps1
  tools/Microsoft.Azure.Cosmos.NativeDriverPoc/CompletionQueueLoop.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverPoc/CosmosNativeException.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverPoc/NativeCosmosClient.cs
  tools/Microsoft.Azure.Cosmos.NativeDriverPoc/NativeMethods.cs
  tools/README.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Adds fuzz testing project (#5998)
  .gitignore
  Microsoft.Azure.Cosmos.FuzzTests/FuzzerValidationException.cs
  Microsoft.Azure.Cosmos.FuzzTests/IFuzzerTarget.cs
  Microsoft.Azure.Cosmos.FuzzTests/Microsoft.Azure.Cosmos.FuzzTests.csproj
  Microsoft.Azure.Cosmos.FuzzTests/Program.cs
  Microsoft.Azure.Cosmos.FuzzTests/README.md
  Microsoft.Azure.Cosmos.FuzzTests/Targets/CosmosElementFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/ErrorResponseFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/FeedResponseFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/JsonNavigatorFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/PartitionKeyFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/ResourceIdentifierFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/SqlQueryParserFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/dictionaries/json.dict
  Microsoft.Azure.Cosmos.FuzzTests/dictionaries/sql.dict
  Microsoft.Azure.Cosmos.FuzzTests/seeds/error-response/error-response.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/feed-response/response-envelope.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/document.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/feed-envelope.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/mixed-array.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/partition-key/long-value.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/partition-key/string-value.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/resource-id/sample-rid.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/advanced-query.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/basic-queries.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/complex-query.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/subquery-udf.txt
  Microsoft.Azure.Cosmos/src/AssemblyInfo.cs
  scripts/Repro-Crash.ps1
  scripts/Run-Fuzz.ps1
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds FilterPredicate support to PatchItem (#5995)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionPatchItemRequestOptions.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransactionCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionConditionalE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Retry logic update: Adds retry logic for 449 across Gateway modes (#5990)
  Microsoft.Azure.Cosmos/src/GatewayRetryWithRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayRetryWithRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreModelTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

FaultInjection: Adds RetryWith (449) server error injection for Gateway mode (#6004)
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionGatewayModeTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Adds cross-region hedging for Collection and PartitionKeyRange Metadata Reads (#5999)
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/IGlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/MetadataHedgingIntegrationTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Mocks/MockDocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncBatcherTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncOperationContextTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BulkPartitionKeyRangeGoneRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionSynchronizerCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PartitionKeyRangeHandlerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreModelTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientTransportSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/MockDocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/TestUtils.cs
  changelog.md
  docs/metadata-hedging-simple-design.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog with recent enhancements and fixes
  changelog.md
Due: none

Routing: Refactors GlobalEndpointManager to track a dedicated PPAF-enablement baseline (#5967)
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayHedgingOverrideTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GlobalEndpointManagerTest.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ThinClient: Refactors regression test to assert post-dispose diagnostics safety
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Refactor ClientRetryPolicy for improved readability
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors ClientRetryPolicy formatting cleanup
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors ClientRetryPolicy whitespace cleanup
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] DistributedTransaction CI: Removes dead VmImage param, redundant continueOnError, and fixes TestCategory spacing
  azure-pipelines-distributed-transaction.yml
  templates/build-distributed-transaction-test.yml
  templates/build-test.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

DistributedTransaction: Fixes and hardens session-token handling
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitterUtils.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperation.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSessionTokenResolver.cs
  Microsoft.Azure.Cosmos/src/SessionContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SessionContainerTest.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Query: Fixes MaxItemCount documentation to clarify per-page vs total semantics (#5953)
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Changelog: Fixes release version accuracy for recently merged PRs
  changelog.md
Due: none

Routing: Refactors partition-key resolution into a request-free shared core
  Microsoft.Azure.Cosmos/src/Routing/AddressResolver.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AddressResolverPartitionKeyResolutionTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

AAD Authentication: Fixes ReadAccountAsync hang from CAE claims cache bypass
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosAuthorizationTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] AAD Authentication: Adds repro for ReadAccountAsync CAE claims hang
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosAuthorizationTests.cs
  REPRO.md
  tools/AadReadAccountHangRepro/AadReadAccountHangRepro.csproj
  tools/AadReadAccountHangRepro/Program.cs
  tools/AadReadAccountHangRepro/README.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Tests: Refactors AAD live tests to run on all pipelines
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  templates/build-test-aad.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Add Stream decrypt tests for non-finite double, payload-name escapes, array null
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Document throw-type contract + dispose ownership; add #5992 changelog
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Reuse a scratch buffer for Stream verbatim string/name copies
  Microsoft.Azure.Cosmos.Encryption.Custom/src/ArrayPoolManager.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/ArrayPoolManagerTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Clean up changelog to net consumer-facing changes since preview07
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
