Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-encryption-custom-compatibility.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly Compatibility Test (Full Matrix)
    branches:
      include:
      - master
    always: true
  stages:
  - stage: ApiCompatibilityCheck
    displayName: API Compatibility Check
    jobs:
    - job: CheckApi
      displayName: Validate API Surface
      pool:
  ...

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-msdata-direct.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-ctl.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)
  - template: templates/build-samples.yml
  ...

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

LocationCache: Fixes read fallback to use WriteEndpoints[0] gated behind PPAF
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Refactors int/Guid translation tests to use shared helper
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ChangeFeed: Adds Full Fidelity Change Feed APIs to GA surface
  Microsoft.Azure.Cosmos/contracts/API_3.59.0.txt
  Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedMode.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ChangeFeedPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerBuilder.cs
  Microsoft.Azure.Cosmos/src/Resource/FullFidelity/ChangeFeedItem.cs
  Microsoft.Azure.Cosmos/src/Resource/FullFidelity/ChangeFeedMetadata.cs
  Microsoft.Azure.Cosmos/src/Resource/FullFidelity/ChangeFeedOperationType.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ChangeFeedPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] PPAF: Fixes Hub region header never sent due to premature NoRetry on single-master 404/1002. (#5792)
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Replace RecyclableMemoryStream with ArrayPool-backed streams
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayStreamSplitter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/EncryptionBenchmark.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests/Microsoft.Azure.Cosmos.Encryption.Custom.Performance.Tests.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/JsonArrayStreamSplitterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Linq: Fixes .NET 10 MemoryExtensions.Contains breaking change in LINQ queries (#5819)
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/ArrayBuiltinFunctions.cs
  Microsoft.Azure.Cosmos/src/Linq/BuiltinFunctions/BuiltinFunctionVisitor.cs
  Microsoft.Azure.Cosmos/src/Linq/ConstantEvaluator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqMemoryExtensionsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

CFP: Adds support for inmemory lease container to feed estimator
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorRunner.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorRunnerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add hub region header for hedge requests as well
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAvailabilityStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

LocationCache: Fixes read fallback to use WriteEndpoints[0] when PPAF enabled and all regions excluded (#5823)
  Microsoft.Azure.Cosmos/src/RequestOptions/RequestOptions.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add the initial design doc.
  docs/V4-RustInterop-Design.md
Due: none

Metadata Retry [Spike]: Adds detached-cancellation model exploration alongside grace-window fix
  .gitignore
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataDetachedExecutorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Pipelines: Removes master from CI trigger filters (#5813)
  azure-pipelines-cron.yml
  azure-pipelines-functional.yml
  azure-pipelines-nightly.yml
  azure-pipelines-rolling.yml
  azure-pipelines.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

ChangeFeed: Fixes PREVIEW guard on GetChangeFeedProcessorBuilderWithAllVersionsAndDeletes
  Microsoft.Azure.Cosmos/contracts/API_3.59.0.txt
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerInternal.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fixes made based on review comments
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code clean up
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update direct version
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Adds Gateway Account Property Flag for Dynamic Hedging Control
  .gitignore
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/AccountProperties.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosSerializerCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayHedgingOverrideTests.cs
  openspec/changes/ppaf-dynamic-hedging-control/.openspec.yaml
  openspec/changes/ppaf-dynamic-hedging-control/design.md
  openspec/changes/ppaf-dynamic-hedging-control/proposal.md
  openspec/changes/ppaf-dynamic-hedging-control/specs/gateway-hedging-override/spec.md
  openspec/changes/ppaf-dynamic-hedging-control/tasks.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Minor improvements
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayStreamSplitter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Diagnostics: Fixes null contacted region name for multimaster hub fallback (410/21005) (#5618)
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update LastCommittedWriteRegion to LastCommitedSingleWriteRegion
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update direct package version 3.43.0
  Directory.Build.props
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Direct package version update]: Adds direct package version 3.43.0 (#5839)
  Directory.Build.props
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Code clean up
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Remove read consistency header for LastCommitedSingleWriteRegion
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Merge with master
  Directory.Build.props
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Remove unused code
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/MdeEncryptionProcessorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Revert unnecessary changes
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptor.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

HttpTimeoutPolicy: Fixes aggressive 500ms first-attempt timeout in HttpTimeoutPolicyControlPlaneRetriableHotPath (#5816)
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicyControlPlaneRetriableHotPath.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Address comments
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Address comments
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedProcessorCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add latestCommit as RCS for LatestCmmitSingleWriteRegion
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Adds MetadataDetachedExecutor scaffold
  .gitignore
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Wires MetadataDetachedExecutor into ClientCollectionCache GetByRid/GetByName
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Adds unit tests for MetadataDetachedExecutor
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataDetachedExecutorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors MetadataDetachedExecutor cap throw and config clamp per fresh-eyes review
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataDetachedExecutorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors MetadataDetachedExecutor per second deep-review pass
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataDetachedExecutorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Test: Refines RntbdIdleTimer test comments and isolation
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/RntbdIdleTimerStarvationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors MetadataDetachedExecutor docs and test stability per third deep-review pass
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataDetachedExecutorTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Fixes CDX1000 boxing and re-grounds MaxAttemptsHardCap derivation
  Microsoft.Azure.Cosmos/src/MetadataDetachedExecutor.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors metadata-detached deadline doc to cite call site and policy distinction
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
