Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops 


jobs: 
- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines-preview.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops
  Preview: 1


jobs:
- template:  templates/static-tools.yml
  parameters:
    BuildConfiguration: Release
    VmImage: $(VmImage)
        

#- template:  templates/build-test.yml
#  parameters:
#    BuildConfiguration: Debug
#    Arguments: $(DebugArguments)
#    VmImage: $(VmImage)

- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - '*'
    exclude:
    - '*.md'
    - 'docs/**/*'
    - 'Microsoft.Azure.Cosmos/contracts/**/*'

variables:
  BuildConfiguration: "Release"
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops

jobs:
- template:  templates/static-tools.yml
  parameters:
    BuildConfiguration: $(BuildConfiguration)
    VmImage: $(VmImage)

- template:  templates/nuget-pack.yml
  parameters:
    BuildConfiguration: $(BuildConfiguration)
    VmImage: $(VmImage)
    ReleasePackage: false
    OutputPath: '$(Build.ArtifactStagingDirectory)/bin/AnyCPU/Release/Microsoft.Azure.Cosmos'

- template:  templates/build-ctl.yml
  parameters:
    BuildConfiguration: $(BuildConfiguration)
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

- template:  templates/build-samples.yml
  parameters:
    BuildConfiguration: $(BuildConfiguration)
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: '${{ variables.BuildConfiguration }}'
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

- template:  templates/build-internal.yml
  parameters:
    BuildConfiguration: '${{ variables.BuildConfiguration }}'
    Arguments: $(ReleaseArguments)
    VmImage:  $(VmImage)

- template:  templates/build-preview.yml
  parameters:
    BuildConfiguration: '$(BuildConfiguration)'
    Arguments: $(ReleaseArguments)
    VmImage:  $(VmImage)

- template:  templates/build-benchmark.yml
  parameters:
    BuildConfiguration: $(BuildConfiguration)
    Arguments: $(ReleaseArguments)
    VmImage:  $(VmImage)

Initial commit
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/OptimisticDirectExecution/OptimisticDirectExecutionQueryPipelineStage.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Direct Package: Adds Support for Direct package version 3.33.0 (#4353)
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Regions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/QueryPlanBaselineTests.GroupBy.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/QueryPlanBaselineTests.NonValueAggregates.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DirectContractTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ussecwestcentral changes
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Regions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address review comments part 1.
  Microsoft.Azure.Cosmos/src/Fluent/Settings/IndexingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorEmbeddingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorIndexDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/DistanceFunction.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/Embedding.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorDataType.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorEmbeddingPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorIndexPath.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorIndexType.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Removed unnecessary JSON argument for vector index.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to update contract changes.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added Test Coverage.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Regions: Adds new USSec Region (#4386)
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Regions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to update preview contract changes in tests.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.json
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address few review comments.
  Microsoft.Azure.Cosmos/src/Resource/Settings/DistanceFunction.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/Embedding.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorEmbeddingPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fixes bug
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionServerErrorResultInternal.cs
Due: azure-pipelines.yml

Code changes to add few more tests to validate serialization and deserialization.
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerBuilder.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorEmbeddingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorEmbeddingPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Fixes Client QL exception by dropping ClientQLCompatibilityLevel (#4387)
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/OptimisticDirectExecution/OptimisticDirectExecutionQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address some review comments for best practices.
  Microsoft.Azure.Cosmos/src/Fluent/Settings/IndexingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/Embedding.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorEmbeddingPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

SDK 3.40.0-preview.0: Adds version bump and changelog.
  changelog.md
Due: none

SDK 3.38.2: Adds version bump and changelog.
  changelog.md
Due: none

SDK 3.40.0-preview.0: Adds version bump and changelog.
  Directory.Build.props
Due: azure-pipelines.yml

SDK 3.38.2: Adds version bump and changelog.
  Directory.Build.props
Due: azure-pipelines.yml

Code changes to fix test failures.
  Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

SDK 3.40.0-preview.0: Adds version bump and changelog.
  Microsoft.Azure.Cosmos/contracts/API_3.38.2.txt
  Microsoft.Azure.Cosmos/contracts/API_3.40.0-preview.0.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

fixes bug (#4389)
  Microsoft.Azure.Cosmos.Samples/Tools/FaultInjection/src/implementataion/FaultInjectionServerErrorResultInternal.cs
Due: azure-pipelines.yml

[Internal] ContainerProperties: Adds Vector Embedding and Indexing Policy (#4379)
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerBuilder.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/IndexingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorEmbeddingPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/VectorIndexDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ContainerProperties.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/DistanceFunction.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/Embedding.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorDataType.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorEmbeddingPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorIndexPath.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/VectorIndexType.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Tracing: Update operation name for non-generic feed iterator read operation (#4374)
  Microsoft.Azure.Cosmos/src/Resource/FeedIterators/FeedIteratorInlineCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.QueryAsync.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/EndToEndTraceWriterBaselineTests.ReadFeedAsync.xml
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

change version for release; create diffs
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.39.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

quick checkin
  Microsoft.Azure.Cosmos/src/Handler/TransportHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosContainerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/RequestHandlerHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

added query PRs to changelog
  changelog.md
Due: none

changes
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosContainerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/RequestHandlerHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

add note for Rename refactoring of ChangeFeedItemChange<T> to changelog
  changelog.md
Due: none

removing 4281 since it was mislabeled. it should have been treated as Internal
  changelog.md
Due: none

grammar error
  changelog.md
Due: none

formatting
  changelog.md
Due: none

case change
  changelog.md
Due: none

Update changelog.md
  changelog.md
Due: none

removing 4317 from change log. should be internal
  changelog.md
Due: none

add new regions to changelog. also Direct Package version update
  changelog.md
Due: none

fixed linked to DP PR
  changelog.md
Due: none

more changes based on review
  Microsoft.Azure.Cosmos/contracts/API_3.38.2.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

SDK 3.39.0: Adds version bump and changelog. (#4391)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.39.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.40.0-preview.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updating package Newtonsoft.Json to fix vulnerabilities introduced on 24 Apr 2022. Ref: CVE-2024-21907 and CWE-755.
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/Microsoft.Azure.Cosmos.Encryption.Custom.EmulatorTests.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests.csproj
  Microsoft.Azure.Cosmos.Encryption/tests/EmulatorTests/Microsoft.Azure.Cosmos.Encryption.EmulatorTests.csproj
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/Microsoft.Azure.Cosmos.Encryption.Tests.csproj
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Microsoft.Azure.Cosmos.Tests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Explicitly added updated package Newtonsoft.Json to fix vulnerabilities introduced on 24 Apr 2022. Ref: CVE-2024-21907 and CWE-755.
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
  Microsoft.Azure.Cosmos.Encryption/src/Microsoft.Azure.Cosmos.Encryption.csproj
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Microsoft.Azure.Cosmos.Performance.Tests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml
