Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

Addresses review comments
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix: address review findings from cross-model PR review
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/PooledMemoryStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledMemoryStreamTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix three bugs found by multi-agent review
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DekCache.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix should-fix-before-merge issues from multi-agent review
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DekCache.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net6.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net8.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/DekCacheDistributedCacheTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Replace DateTime.UtcNow with TimeProvider for testable time
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DekCache.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/DekCacheDistributedCacheTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests.csproj
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

test: add regression tests for review findings
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/PooledMemoryStreamTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorEncryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Addressing code review clean up
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/HttpConnectionLifecycleTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addressing code review clean up
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addressing code review clean up
  Microsoft.Azure.Cosmos/src/RequestOptions/ChangeFeedRequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update tests for read consistency strategy
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code cleanup and test updates
  Microsoft.Azure.Cosmos/src/Handler/ClientPipelineBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update query plan serialization repsonse logic
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/ThinClientQueryPlanHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemThinClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/MultiRegionSetupHelpers.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[ThinClient Integration]: Adds Enable Multiple Http2 connection on SocketsHttpHandler. (#5693)
  Microsoft.Azure.Cosmos.Samples/Usage/HttpClientFactory/Program.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/HttpConnectionLifecycleTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

fix build errors
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PR review improvements
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonFeedStreamHelper.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/StreamDecryptableItem.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionContainerTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/JsonArrayStreamSplitterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/StreamDecryptableItemTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

fix: address PR review findings for distributed cache feature
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DekCache.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CosmosDataEncryptionKeyProviderConstructorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/DekCacheDistributedCacheTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/InMemoryDistributedCache.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Read Consistency Strategy: Adds Read Consistency Strategy option for read requests (#5685)
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutor.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/ClientPipelineBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/ReadManyRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/ChangeFeedRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/ItemRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/RequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientConfigurationTraceDatum.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ConsistencyConfig.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientConfigurationDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ReadConsistencyStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/RetryHandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

remove internal resource body and move the deserialization to FromJson
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Change to unbounded retries
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix spacing
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Minor improvement
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainer.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Minor fix
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Add post-sync verification to auto-copy missing msdata files
  .github/agents/msdata-direct-sync-agent.agent.md
  tools/msdata-direct-sync-helper.ps1
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Remove invalid WithDelay() calls on ServiceUnavailable error type
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Spec: Remove CosmosDiagnostics.Verbosity property per review feedback
  specs/diagnostics-compaction.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Remove ToJsonString(DiagnosticsVerbosity) overload from spec
  specs/diagnostics-compaction.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Diagnostics: Adds DiagnosticsVerbosity Summary mode for compacted diagnostics output
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosDiagnostics.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/CosmosTraceDiagnostics.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/DiagnosticsSummaryWriter.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/DiagnosticsVerbosity.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/DiagnosticsSummaryWriterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client: Adds IAsyncDisposable to CosmosClient to prevent stack overflow during identity disposal
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProvider.cs
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationTokenProviderTokenCredential.cs
  Microsoft.Azure.Cosmos/src/Authorization/TokenCredentialCache.cs
  Microsoft.Azure.Cosmos/src/CosmosClient.cs
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/CosmosClientContext.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Fixes review issues for DiagnosticsVerbosity feature
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedEstimatorIterator.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Diagnostics/DiagnosticsVerbosity.cs
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqQuery.cs
  Microsoft.Azure.Cosmos/src/ReadManyQueryHelper.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/DiagnosticsSummaryWriterTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Adds env var support, builder API, baseline and emulator tests
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DiagnosticsVerbosityEmulatorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Diagnostics/DiagnosticsSummaryBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Tooling: Adds Release Copilot Agent for SDK release automation (#5633)
  .github/agents/release-copilot-agent.agent.md
  .github/copilot-instructions.md
  tools/GenAPI/GenAPI.exe
  tools/GenAPI/GenAPI.exe.config
  tools/GenAPI/GenApi.html
  tools/GenAPI/Microsoft.Cci.Extensions.dll
  tools/GenAPI/Microsoft.Cci.dll
  tools/GenAPI/System.Collections.NonGeneric.dll
  tools/GenAPI/System.Console.dll
  tools/GenAPI/System.Diagnostics.TextWriterTraceListener.dll
  tools/GenAPI/System.Diagnostics.TraceSource.dll
  tools/GenAPI/System.IO.FileSystem.Primitives.dll
  tools/GenAPI/System.IO.FileSystem.dll
  tools/GenAPI/System.Reflection.TypeExtensions.dll
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[FaultInjection] FaultInjection: Refactors code quality improvements (#5678)
  Microsoft.Azure.Cosmos/FaultInjection/src/FaultInjectionEndpointBuilder.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/FaultInjectionRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/FaultInjectionServerErrorResultBuilder.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionConnectionErrorRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionCustomServerErrorRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionRuleProcessor.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionServerErrorRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionDirectModeTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Bumps version to 3.58.0
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.58.0.txt
  Microsoft.Azure.Cosmos/contracts/API_3.59.0-preview.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Retry: Fixes cumulativeRetryDelay tracking when x-ms-retry-after-ms header is absent
  Microsoft.Azure.Cosmos/src/ResourceThrottleRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ResourceThrottleRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Remove 4 tests per PR review feedback
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ResourceThrottleRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Changelog: Adds PR #5502 (QuantizerType) to 3.59.0-preview.0 changelog
  changelog.md
Due: none

[Internal] Tooling: Adds msdata/direct sync Copilot agent and helper script (#5681)
  .github/agents/msdata-direct-sync-agent.agent.md
  docs/sync_up_msdata_direct.md
  tools/msdata-direct-sync-helper.ps1
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[ThinClient Integration]: Adds support for QueryPlan in thinclient mode. (#5614)
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/ThinClientQueryPlanHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemThinClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Fixes test failures from DiagnosticsVerbosity constructor changes
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedEstimatorIteratorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Telemetry/OpenTelemetryRecorderTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml
