Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

LINQ: Fixes memory leak from Expression.Compile() in SubtreeEvaluator
  Microsoft.Azure.Cosmos/src/Linq/SubtreeEvaluator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/SubtreeEvaluatorMemoryBenchmark.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

LINQ: Adds inline EXISTS optimization for WHERE predicates
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqInlineExistsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Test: Update TestSubquery baseline for inline EXISTS variable naming
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqGeneralBaselineTests.TestSubquery.xml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ChangeFeed: Add health monitor notifications to PartitionLoadBalancerCore
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedManagement/PartitionLoadBalancerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionLoadBalancerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Add XML doc comments explaining #3453 repro scenario
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionLoadBalancerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Add anti-patterns for duplicate PRs and draft PR requirement
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Add reference to IssueFixAgent in copilot-instructions.md
  .github/copilot-instructions.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Update IssueFixAgent with anti-patterns and copilot-instructions reference (#5593)
  .github/agents/issue-fix-agent.agent.md
  .github/copilot-instructions.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Adds immediate-action triggers to prevent waiting
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Adds PR comment monitoring to immediate-action triggers
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Adds Copilot co-author attribution requirement for commits
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Adds immediate-action triggers to IssueFixAgent (#5594)
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix #5547: LINQ Dictionary.Any() generates correct SQL with OBJECTTOARRAY
  Microsoft.Azure.Cosmos/src/Linq/ExpressionToSQL.cs
  Microsoft.Azure.Cosmos/src/Linq/TypeSystem.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/LinqDictionaryQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Move benchmark test to Performance.Tests project
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Linq/SubtreeEvaluatorBenchmark.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Linq/SubtreeEvaluatorMemoryBenchmark.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix: Throw ObjectDisposedException when client is disposed during request
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Handler/TransportHandler.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Add 'fix at source' anti-pattern to IssueFixAgent
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Add Plan Compliance Audit section to PR template
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Add 'fix at source' anti-pattern to IssueFixAgent (#5598)
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix race condition: Set isDisposed flag before nulling fields
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Refactor: Use isDisposing + isDisposed pattern for semantic clarity
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix: Simplify dispose checks per review feedback
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Add session learnings to IssueFixAgent plan
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Address comments
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitterUtils.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionServerRequest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Docs: Add session learnings to IssueFixAgent plan (#5601)
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Add PR body formatting corruption guidance to agent plan
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Docs: Add PR body formatting guidance to agent plan (#5602)
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Update PR monitoring frequency to every 5-10 minutes
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Docs: Update PR monitoring frequency to 5-10 minutes (#5603)
  .github/agents/issue-fix-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Test: Adds E2E emulator test for Dictionary.Any() OBJECTTOARRAY fix
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Linq/CosmosItemLinqTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update Resource URI and add happy path tests
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionE2ETests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add more tests for locally scoped FTS statistics
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/NonStreamingOrderByQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update contracts, enable weighted rank fusion test, add emulator tests for FulTextScoreScore.Local
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/HybridSearchQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added test plan to design doc
  docs/local_statistics_for_hybrid_search.md
Due: none

Initial change to allow user to switch between local and global statistics for full text search
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CrossPartition/HybridSearch/HybridSearchCrossPartitionQueryPipelineStage.cs
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/PipelineFactory.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextScoreScope.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/OptimisticDirectExecutionQueryBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/FactoryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/FullPipelineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/NonStreamingOrderByQueryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/SubpartitionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceWriterBaselineTests.cs
  docs/local_statistics_for_hybrid_search.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add test infrastructure for full text score local statistics
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Query/Pipeline/NonStreamingOrderByQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add new emulator test cases for FullTextScoreScope.Local
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/HybridSearchQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Move to query folder
  docs/query/local_statistics_for_hybrid_search.md
Due: none

address code review feedback
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextScoreScope.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

update resource body to nested json in serializer
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionE2ETests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml
