Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

Client Encryption: Adds current compat matrix node
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Current/CompatMatrix.Current.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/Old/CompatMatrix.Old.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/README.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/run-matrix.ps1
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/src/Program.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CompatMatrixContractTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Fixes lazy DecryptableItem ignoring configured JSON processor
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DecryptableItemCore.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItem.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItemStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItem{T}.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionFeedIterator.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionContainerDefaultJsonProcessorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Refactors feed Stream decryption to avoid Newtonsoft materialization
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamFeedProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionContainerDefaultJsonProcessorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Setup env vars
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClient.cs
  Microsoft.Azure.Cosmos.Encryption/src/PdekCacheRefreshWorker.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Update.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Addresses PR feedback: chains constructors, fixes param formatting, updates preview contract
  Microsoft.Azure.Cosmos/src/Fluent/Settings/FullTextPolicyDefinition.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Adds embedded what-it-shows/what-it-proves analysis to all PR 5923 graphs
  docs/metadata-hedging-stress/README.md
  docs/metadata-hedging-stress/faultinjection/README.md
  docs/metadata-hedging-stress/faultinjection/fi1_latency_pr_vs_main.png
  docs/metadata-hedging-stress/faultinjection/fi2_meter_crosscheck.png
  docs/metadata-hedging-stress/faultinjection/fi3_saturating_budget_cdf.png
  docs/metadata-hedging-stress/faultinjection/fi4_mixed_e2e_honest.png
  docs/metadata-hedging-stress/faultinjection/plot_fi.py
  docs/metadata-hedging-stress/g1_calls_per_region.png
  docs/metadata-hedging-stress/g2_spawned_vs_hedged.png
  docs/metadata-hedging-stress/g3_realtime_latency_win.png
  docs/metadata-hedging-stress/g4_secondary_inflight_cap.png
  docs/metadata-hedging-stress/g5_healthy_no_amplification.png
  docs/metadata-hedging-stress/plot_hedge_stress.py
  docs/metadata-hedging-stress/scenarios/README.md
  docs/metadata-hedging-stress/scenarios/plot_scenarios.py
  docs/metadata-hedging-stress/scenarios/s1_refresh_latency_pr_vs_main.png
  docs/metadata-hedging-stress/scenarios/s2_timeline_s3.png
  docs/metadata-hedging-stress/scenarios/s3_calls_per_region.png
  docs/metadata-hedging-stress/scenarios/s4_hedges_vs_budget.png
  docs/metadata-hedging-stress/scenarios/s5_healthy_no_amplification.png
Due: none

Metadata Hedging: Removes unused MetadataHedgeSkipReason.AuthModeNotEligibleForHedge
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ThinClient: Fixes unobserved HTTP/2 task by disposing retried responses
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Address review feedback on #5987
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Adds primary-brownout fast-fail soak for PR 5923 review concern
  Microsoft.Azure.Cosmos/FaultInjection/tests/MetadataHedgingFaultInjectionHarness.cs
  docs/metadata-hedging-stress/faultinjection/README.md
  docs/metadata-hedging-stress/faultinjection/fi1_latency_pr_vs_main.png
  docs/metadata-hedging-stress/faultinjection/fi3_saturating_budget_cdf.png
  docs/metadata-hedging-stress/faultinjection/fi4_mixed_e2e_honest.png
  docs/metadata-hedging-stress/faultinjection/fi5_fastfail_brownout_budget.png
  docs/metadata-hedging-stress/faultinjection/fi_ops.csv
  docs/metadata-hedging-stress/faultinjection/fi_scenarios.csv
  docs/metadata-hedging-stress/faultinjection/plot_fi.py
  docs/metadata-hedging-stress/faultinjection/summary.txt
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Adds live-account AAD integration tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadLiveTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  azure-pipelines.yml
  templates/build-test.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Refactors AAD credential gating to skip on unresolved values
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Refactors live AAD tests to target an AAD-only account
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosAadLiveTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  azure-pipelines.yml
  templates/build-test.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Tests: Refactors AAD CI auth to Workload Identity Federation
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  azure-pipelines.yml
  templates/build-test.yml
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Fixes 429/3200 (RUBudgetExceeded) retry on DTX requests
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Changelog: Reconcile DTX 429/3200 entry to PR #5989
  changelog.md
Due: none

Reverted a test due to emulator dependency.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Refactors trace call sites to gate by log level instead of stripping diagnostics
  Microsoft.Azure.Cosmos/src/Resource/CosmosExceptions/CosmosException.cs
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/src/Util/Extensions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosExceptionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Renames cold-start opt-in and enables by default in preview
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds FilterPredicate support to PatchItem
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionPatchItemRequestOptions.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransactionCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionConditionalE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Adds logic 449 retry
  Microsoft.Azure.Cosmos/src/GatewayRetryWithRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/ThinClientStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayRetryWithRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Point Operations: Adds conditional IfMatch/IfNoneMatch precedence emulator tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemConditionalTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog
  changelog.md
Due: none

Add PR 2040932: Port TargetReplicaSetSize change from gateway
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAccountReaderTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add PR 2063700: Fix: Pass PartitionTargetReplicaSetSize to PartitionAddressInformation
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] CompatMatrix: Fixes encryption compatibility matrix
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/New/CompatMatrix.New.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/README.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/RUN-REPORT.md
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/nuget.config
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/run-matrix.ps1
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/src/KeyProviders.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/CompatMatrix/src/Program.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CompatMatrixContractTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Refactors JsonProcessor selection to internal API
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItem.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItemStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptableItem{T}.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainerExtensions.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionRequestOptionsExtensions.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonProcessor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net6.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Contracts/DotNetSDKEncryptionCustomAPI.net8.json
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/EncryptionContainerDefaultJsonProcessorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/LegacyEncryptionProcessorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Refactors versioning and changelog to 1.1.0 minor
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix PartitionTargetReplicaSetSize
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Fixes GetRangeByEffectivePartitionKey to honor the configured length-aware comparer (#5956)
  Microsoft.Azure.Cosmos/src/Routing/CollectionRoutingMap.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CollectionRoutingMapTest.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Removes unused IsColdStart cold-start signal
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/CollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/MetadataRequestThrottleRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/ClientCollectionCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingTelemetryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/PartitionKeyRangeCacheTests.cs
  docs/PPAF_Metadata_Hedging_ColdStart_Design.md
  docs/PR_5923_Metadata_Hedging_Description.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add RegexReplace/RegexReplaceAll to SDK.
  Microsoft.Azure.Cosmos/src/SqlObjects/SqlFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/SqlObjectVisitorBaselineTests.SqlFunctionCalls.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SqlObjects/SqlObjectVisitorBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix SDK Best practices link in README
  README.md
Due: none

Client Encryption: Fixes System.Text.Json processor JSON-fidelity defects
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProperties.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDataCorruptionFixTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Refactors Custom encryption changelog and version to 1.1.0-preview01
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Update emulator documentation link in README
  README.md
Due: none

Revise changelog
  changelog.md
Due: none

DistributedTransaction: Adds tests for conditional patch FilterPredicate atomicity and serialization
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionConditionalE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml
