Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-encryption-custom-compatibility.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly Compatibility Test (Full Matrix)
    branches:
      include:
      - master
    always: true
  stages:
  - stage: ApiCompatibilityCheck
    displayName: API Compatibility Check
    jobs:
    - job: CheckApi
      displayName: Validate API Surface
      pool:
  ...

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-msdata-direct.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-ctl.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)
  - template: templates/build-samples.yml
  ...

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/nuget-pack.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
      ReleasePackage: false
  ...

Fix changelog
  changelog.md
Due: none

[Internal] Query: Fixes preview build by restoring [Ignore] on emulat… (#6027)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Fixes preview full-text emulator test gating
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Query: Fixes preview full-text emulator test gating (#6028)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Fixes DTX wire contract review feedback
  docs/DistributedTransactionsRestContract.md
Due: none

Docs: Refactors DTX contract to remove PR references
  docs/DistributedTransactionsRestContract.md
Due: none

Docs: Adds session-token merge hard contract to DTX wire contract
  docs/DistributedTransactionsRestContract.md
Due: none

[Internal] Query: Fixes preview full-text emulator test gating (#6029)
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

TargetReplicaSetSize : Adds TargetReplicaSetSize change from ossclone. (#5991)
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAccountReaderTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add non-LINQ test case
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/SanityQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Cross Region Hedging: Fixes unobserved task exception from abandoned losing hedge requests
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Fixes review comments on PdekCacheRefreshWorker
  Microsoft.Azure.Cosmos.Encryption/src/MdeSrc/Cryptography/LocalCache.cs
  Microsoft.Azure.Cosmos.Encryption/src/MdeSrc/Cryptography/ProtectedDataEncryptionKey.cs
  Microsoft.Azure.Cosmos.Encryption/src/PdekCacheRefreshWorker.cs
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/PdekCacheRefreshWorkerTests.cs
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/ProtectedDataEncryptionKeyCacheRoundTripTests.cs
  openspec/changes/reduce-encryption-contention/proposal.md
  openspec/changes/reduce-encryption-contention/tasks.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Docs: Fixes hedging doc accuracy per PR review comments
  docs/Cross Region Request Hedging.md
Due: none

Cross Region Hedging: Adds PR #6030 perf benchmark results (no regression)
  benchmarks/6030/RESULTS.md
  benchmarks/6030/run1/data/change.csv
  benchmarks/6030/run1/data/change.summary.json
  benchmarks/6030/run1/data/main.csv
  benchmarks/6030/run1/data/main.summary.json
  benchmarks/6030/run1/graphs/comparison.md
  benchmarks/6030/run1/graphs/cpu.png
  benchmarks/6030/run1/graphs/dashboard.png
  benchmarks/6030/run1/graphs/memory.png
  benchmarks/6030/run1/graphs/read_p99.png
  benchmarks/6030/run1/graphs/threads.png
  benchmarks/6030/run1/graphs/throughput.png
  benchmarks/6030/run1/graphs/unobserved.png
  benchmarks/6030/run2/data/change.csv
  benchmarks/6030/run2/data/change.summary.json
  benchmarks/6030/run2/data/main.csv
  benchmarks/6030/run2/data/main.summary.json
  benchmarks/6030/run2/graphs/comparison.md
  benchmarks/6030/run2/graphs/cpu.png
  benchmarks/6030/run2/graphs/dashboard.png
  benchmarks/6030/run2/graphs/memory.png
  benchmarks/6030/run2/graphs/read_p99.png
  benchmarks/6030/run2/graphs/threads.png
  benchmarks/6030/run2/graphs/throughput.png
  benchmarks/6030/run2/graphs/unobserved.png
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Tests: Adds AAD service connection to enable live AAD tests in CI
  azure-pipelines-nightly.yml
  azure-pipelines.yml
  templates/aad-test-resources.bicep
  templates/build-test-aad.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Tests: Fixes cross-partition query page assumption
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/SanityQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add tests for 408 substatus code
  Directory.Build.props
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BarrierTimeoutSubStatusTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/StoreReaderTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

feat: add compression envelope primitives
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/BrotliCompressorAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/BufferWriterCopyingStream.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/CompressionCodecId.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/CompressionHelper.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/CompressionLevelSetting.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/CompressionSettings.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/DecodedEnvelope.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/DecompressionBudget.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/DeflateCompressorAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EnvelopeHeader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EnvelopeHeaderConstants.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EnvelopeHeaderReader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EnvelopeHeaderWriter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/ICompressionCodecAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/UleB128.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/V4CompressionEnvelope.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/CompressionEnvelopeNet6ContractTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/CompressionEnvelopePrimitivesTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/V4CompressionEnvelopeTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Tests: Fixes AAD test project path to explicit csproj (glob not expanded)
  templates/build-test-aad.yml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] Diagnostics: Move replica/region mutations to IClientSideRequestStatisticsExtension to avoid changing IClientSideRequestStatistics
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientSideRequestStatisticsTraceDatum.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/SummaryDiagnostics.cs
  Microsoft.Azure.Cosmos/src/direct/ClientSideRequestStatistics.cs
  Microsoft.Azure.Cosmos/src/direct/ClientSideRequestStatisticsExtensions.cs
  Microsoft.Azure.Cosmos/src/direct/IClientSideRequestStatistics.cs
  Microsoft.Azure.Cosmos/src/direct/IClientSideRequestStatisticsExtension.cs
  Microsoft.Azure.Cosmos/src/direct/StoreReader.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Benchmarks/RegionContactedInDiagnosticsBenchmark.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/TraceWriterBaselineTests.TraceData.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Telemetry/TracesStabilityFactoryTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/ClientSideRequestStatisticsTraceDatumTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/ContactedRegionsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceWriterBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog for breaking change.
  changelog.md
Due: none

[Internal] Metadata Hedging: Adds test confirming hedge runs on detached token from PR #5844
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingDetachedTokenInteractionTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Docs: Adds comprehensive CI and pipelines reference guide
  docs/builds-and-pipelines.md
Due: none

FaultInjection: Refactors documentation for accuracy and completeness
  Microsoft.Azure.Cosmos/FaultInjection/DEVELOPMENT.md
  Microsoft.Azure.Cosmos/FaultInjection/README.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Fixes resource body to surface coordinator data verbatim
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors CommitTransactionAsync to ExecuteTransactionAsync
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedReadTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedReadTransactionCore.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransactionCore.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryConstants.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedReadTransactionE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionConditionalE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedReadTransactionCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedWriteTransactionTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Docs: Fixes trigger summary row to note early hedging on non-final responses or faults
  docs/Cross Region Request Hedging.md
Due: none

test: strengthen stream compatibility coverage
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayStreamSplitter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonFeedStreamHelper.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EncryptionPropertiesStreamReader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/Adapters/SystemTextJsonStreamAdapterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Added fix to ensure respurce token auth type does not go through thinclient
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemThinClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update changelog for Distributed Transactions rename
  changelog.md
Due: none

Revise changelog with bug fix and update entries
  changelog.md
Due: none

DistributedTransaction: Fixes aborted-transaction retry to require durable Aborted status
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds tunable abort-retry options to CosmosClientOptions
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Refactors abort retry to resubmit with a new idempotency token
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionServerRequest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Routing: Refactors partition-move refresh primitive to be stateless
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PartitionKeyRangeCacheTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update default trace check for resourcetoken
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Fixes cross-provider cache TTL contamination in CosmosDataEncryptionKeyProvider
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/CosmosDataEncryptionKeyProviderTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Fixes changelog PR reference for cache TTL fix
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Changelog: Remove stale merge entries
  changelog.md
Due: none

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
