Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

CosmosBenchmark: add ChangeFeedProcessor workload + run_tag result dimension
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/PerfResultsRecord.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/v3/ChangeFeedProcessorV3BenchmarkOperation.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix formatting of SDK Best Practices and Using Emulator links
  README.md
Due: none

[Internal] Documentation Update: Fixes SDK Best practices link in README. (#5994)
  README.md
Due: none

Track HTTP/2 characterization follow-up (#5996) and clarify post-dispose comment
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Adds per-node child-trace cap to bound diagnostics size
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Adds changelog entry for per-node child-trace cap (#5997)
  changelog.md
Due: none

Diagnostics: Fixes review findings on child-trace cap
  Microsoft.Azure.Cosmos/src/Tracing/NoOpTrace.cs
  Microsoft.Azure.Cosmos/src/Tracing/Trace.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/SummaryDiagnostics.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Diagnostics: Adds end-to-end PartialResults truncation-signal tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Tracing/TraceTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors DTX 429/3200 fix to minimal bodyless detection
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

FullTextPath: Extends Equals to include new fields and adds GetHashCode
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextPath.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Clarifies _ei duplicate-guard message and trims a comment
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Adds fuzz testing project
  .gitignore
  Microsoft.Azure.Cosmos.FuzzTests/FuzzerValidationException.cs
  Microsoft.Azure.Cosmos.FuzzTests/IFuzzerTarget.cs
  Microsoft.Azure.Cosmos.FuzzTests/Microsoft.Azure.Cosmos.FuzzTests.csproj
  Microsoft.Azure.Cosmos.FuzzTests/Program.cs
  Microsoft.Azure.Cosmos.FuzzTests/README.md
  Microsoft.Azure.Cosmos.FuzzTests/Targets/CosmosElementFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/ErrorResponseFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/FeedResponseFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/JsonNavigatorFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/PartitionKeyFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/ResourceIdentifierFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/Targets/SqlQueryParserFuzz.cs
  Microsoft.Azure.Cosmos.FuzzTests/dictionaries/json.dict
  Microsoft.Azure.Cosmos.FuzzTests/dictionaries/sql.dict
  Microsoft.Azure.Cosmos.FuzzTests/seeds/error-response/error-response.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/feed-response/response-envelope.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/document.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/feed-envelope.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/json-parser/mixed-array.json
  Microsoft.Azure.Cosmos.FuzzTests/seeds/partition-key/long-value.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/partition-key/string-value.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/resource-id/sample-rid.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/advanced-query.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/basic-queries.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/complex-query.txt
  Microsoft.Azure.Cosmos.FuzzTests/seeds/sql-parser/subquery-udf.txt
  Microsoft.Azure.Cosmos/src/AssemblyInfo.cs
  scripts/Repro-Crash.ps1
  scripts/Run-Fuzz.ps1
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Refactors DTX 429/3200 comments to durable phrasing
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Assert Stream encrypt rejects pre-existing top-level _ei
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDataCorruptionFixTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Client Encryption: Relocate Stream corruption-fix tests into existing suites
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/Adapters/SystemTextJsonStreamAdapterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/EncryptionPropertiesStreamReaderTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDataCorruptionFixTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorEncryptorTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Addresses feedback: renames that->other, adds Equals(object) override, removes redundant #if PREVIEW
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextPath.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Address review comments.
  Microsoft.Azure.Cosmos/src/GatewayRetryWithRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/src/ThinClientStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreModelTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Query: Adds Full-Text Policy standard package and analyzer configuration support (#5968)
  Microsoft.Azure.Cosmos/src/Fluent/Settings/ContainerBuilder.cs
  Microsoft.Azure.Cosmos/src/Fluent/Settings/FullTextPolicyDefinition.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextDefaultSpec.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextPath.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/FullTextPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Fluent/ContainerSettingsTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Fluent/ContainerDefinitionForCreateTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SettingsContractTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Scope DTX empty-body detection and strengthen 429/3200 tests
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Adds cross-region hedging for Collection and PartitionKeyRange metadata reads
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicy.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/IGlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  changelog.md
  docs/metadata-hedging-simple-design.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes PR #5999 review feedback on primary-authoritative classification
  Microsoft.Azure.Cosmos/src/DocumentClient.cs
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicy.cs
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
  docs/metadata-hedging-simple-design.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Gateway: add env vars to tune default SocketsHttpHandler connection-pool timeouts
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosHttpClientCoreTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes unit test mocks for new metadata cache constructor arg
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Performance.Tests/Mocks/MockDocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncBatcherTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncOperationContextTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BulkPartitionKeyRangeGoneRetryPolicyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/PartitionKeyRangeHandlerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreClientTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientStoreModelTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ThinClientTransportSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/MockDocumentClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/TestUtils.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests and address review comments.
  Microsoft.Azure.Cosmos/src/GatewayRetryWithRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/GatewayStoreModel.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayStoreModelTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes ChangeFeed test mocks for new metadata cache constructor arg
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionSynchronizerCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes trace baseline contract change by emitting hedge datum only when a hedge fires
  Microsoft.Azure.Cosmos/src/Routing/ClientCollectionCache.cs
  Microsoft.Azure.Cosmos/src/Routing/PartitionKeyRangeCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Adds emulator integration tests for cross-region metadata hedging
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/MetadataHedgingIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Metadata Hedging: Fixes latest PR review feedback (clone disposal, threshold test, timeout accessor)
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicy.cs
  Microsoft.Azure.Cosmos/src/Routing/MetadataHedgingStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/MetadataHedgingStrategyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Polish DTC wire contract doc: conditional fields, envelope redundancy, retry model
  docs/DistributedTransactionsRestContract.md
Due: none

Doc: rewrite DTX retry model around body-vs-bodyless routing
  docs/DistributedTransactionsRestContract.md
Due: none

Doc: clarify AbortDistributedTransaction is coordinator-only, not client-issued
  docs/DistributedTransactionsRestContract.md
Due: none

Doc: mark per-operation partitionKey as required, not optional
  docs/DistributedTransactionsRestContract.md
Due: none

docs(dtc): verify wire contract section-by-section for Rust port
  docs/DistributedTransactionsRestContract.md
Due: none

Docs: Add Distributed Transactions REST wire contract
  docs/DistributedTransactionsRestContract.md
Due: none

docs(dtx): document client-side 207 first-error promotion in read aggregate section
  docs/DistributedTransactionsRestContract.md
Due: none

docs(dtx): clarify 449 retry owner depends on body, not sub-status
  docs/DistributedTransactionsRestContract.md
Due: none

docs(dtx): balance intro write/read status codes; drop activity-id caveat
  docs/DistributedTransactionsRestContract.md
Due: none

CosmosBenchmark: capture error diagnostics into perf results
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Fx/OperationWindowAggregator.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Fx/OperationWindowSnapshot.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Fx/PerfMetricsReporter.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Fx/SerialOperationExecutor.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/PerfResultsRecord.cs
  Microsoft.Azure.Cosmos.Samples/Tools/CosmosBenchmarkTests/Fx/OperationWindowAggregatorTests.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

docs(dtx): remove internal ADO PR reference from read-transaction section
  docs/DistributedTransactionsRestContract.md
Due: none

docs(dtx): sharpen bodyless-408 retry safety with coordinator token dedup
  docs/DistributedTransactionsRestContract.md
Due: none
