Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines-preview.yml:
  jobs:
  - template: templates/static-tools.yml
    parameters:
      BuildConfiguration: Release
      VmImage: $(VmImage)
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

azure-pipelines.yml:
  jobs:
  - template: templates/build-test.yml
    parameters:
      BuildConfiguration: Release
      Arguments: $(ReleaseArguments)
      VmImage: $(VmImage)

Updated distributedOtel tests to cover more scenarios
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update fabricbot.json (#3824)
  .github/fabricbot.json
Due: azure-pipelines.yml

Code changes to enable aggressive validation by default.
  Microsoft.Azure.Cosmos/src/Microsoft.Azure.Cosmos.csproj
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
  Microsoft.Azure.Cosmos/src/direct/AddressEnumerator.cs
  Microsoft.Azure.Cosmos/src/direct/IAddressEnumerator.cs
  Microsoft.Azure.Cosmos/src/direct/StoreReader.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Reducing default timeout to 5 seconds
  Microsoft.Azure.Cosmos/src/ConnectionPolicy.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to pull in msdata cosmos.direct changes related to aggresive validation logic.
  Directory.Build.props
Due: azure-pipelines.yml

Code changes to enable aggressive validation for all regions.
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add aggressive validation logic.
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalAddressResolver.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to make minor cosmetic changes.
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address review comments.
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Upgrade Resiliency: Adds Logic to Validate `Unknown` Replicas along with `Unhealthy`. (#3820)
  Directory.Build.props
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated maxCapacity limit
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Updated distributedOtel tests
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/CosmosBenchmark.csproj
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryCoreRecorder.cs
  Microsoft.Azure.Cosmos/src/Telemetry/OpenTelemetry/OpenTelemetryRecorderFactory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTracingOTelTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Reverting benchmark performance test changes
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Utils/TestCommon.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Sample to output all items
  Microsoft.Azure.Cosmos.Samples/Usage/OutputAllItems/.vscode/launch.json
  Microsoft.Azure.Cosmos.Samples/Usage/OutputAllItems/.vscode/tasks.json
  Microsoft.Azure.Cosmos.Samples/Usage/OutputAllItems/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/OutputAllItems/OutputAllItems.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/OutputAllItems/Program.cs
Due: azure-pipelines.yml

Test array manipulation workload for Cassandra API
  Microsoft.Azure.Cosmos.Samples/Usage/TestCassandraArrayWorkload/.vscode/tasks.json
  Microsoft.Azure.Cosmos.Samples/Usage/TestCassandraArrayWorkload/AppSettings.json
  Microsoft.Azure.Cosmos.Samples/Usage/TestCassandraArrayWorkload/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/TestCassandraArrayWorkload/TestCassandraArrayWorkload.csproj
Due: azure-pipelines.yml

resolved code review comments
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/MdeServices/MdeEncryptionAlgorithm.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/EmulatorTests/MdeCustomEncryptionTests.cs
Due: azure-pipelines.yml

Serialization: Fixes call to CosmosSerializer.FromStream on Gateway mode when EnableContentResponseOnWrite is false (#3814)
  Microsoft.Azure.Cosmos/src/Resource/CosmosResponseFactoryCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to remove first preferred region from document service request context.
  Microsoft.Azure.Cosmos/src/direct/DocumentServiceRequestContext.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update AuthorizationHelper to include high hashPayload logic
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

updated changelog
  changelog.md
Due: none

[Internal] Documentation: Adds documentation covering build pipelines (#3822)
  docs/builds-and-pipelines.md
  templates/build-benchmark.yml
  templates/build-preview.yml
Due: azure-pipelines.yml

adding change log
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
Due: azure-pipelines.yml

code review changes
  Microsoft.Azure.Cosmos.Encryption.Custom/src/CosmosDataEncryptionKeyProvider.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/DataEncryptionKeyProvider.cs
Due: azure-pipelines.yml

Client Encryption: Adds release version of Microsoft.Azure.Cosmos to Microsoft.Azure.Cosmos.Encryption.Custom (#3799)
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionContainer.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Microsoft.Azure.Cosmos.Encryption.Custom.csproj
Due: azure-pipelines.yml

Initial commit
  Microsoft.Azure.Cosmos/src/Linq/TranslationContext.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/BaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqGeneralBaselineTests.TestLambdaReuse.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqGeneralBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

SDK 3.33.0 : Adds version bump and changelog (#3823)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.33.0-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.33.0.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to add msdata/direct sync-up documentation.
  docs/sync_up_msdata_direct.md
Due: none

Initial commit
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqCustomSerializerBaselineTests.TestQueryUse.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqCustomSerializerBaselineTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqTestsCommon.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Microsoft.Azure.Cosmos.EmulatorTests.csproj
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Change in authorizer func
  Microsoft.Azure.Cosmos/src/Authorization/AuthorizationHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address review comments.
  docs/sync_up_msdata_direct.md
Due: none

Code changes to address further review comments.
  docs/sync_up_msdata_direct.md
Due: none

address pr comments
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/ApplicationInsights.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/ApplicationInsights/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/OpenTelemetry.csproj
  Microsoft.Azure.Cosmos.Samples/Usage/OpenTelemetry/Program.cs
Due: azure-pipelines.yml

test for headers adoption of uri escape
  Microsoft.Azure.Cosmos/src/Query/Core/Metrics/IndexUtilizationInfo.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/IndexMetricsParserBaselineTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Added some test coverage
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/BaselineTest/TestBaseline/LinqTranslationBaselineTests.TestStringFunctions.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/LinqTranslationBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
