Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

azure-pipelines-functional.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops 


jobs: 
- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines-preview.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - Microsoft.Azure.Cosmos/*
    - NuGet.config

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional & TestCategory=Preview" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops
  Preview: 1


jobs:
- template:  templates/static-tools.yml
  parameters:
    BuildConfiguration: Release
    VmImage: $(VmImage)
        

#- template:  templates/build-test.yml
#  parameters:
#    BuildConfiguration: Debug
#    Arguments: $(DebugArguments)
#    VmImage: $(VmImage)

- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

azure-pipelines.yml:

# A pipeline with no CI trigger
trigger: none

pr:
  branches:
    include:
    - master
    - releases/*
  paths:
    include:
    - '*'
    exclude:
    - '*.md'
    - 'docs/**/*'
    - 'Microsoft.Azure.Cosmos/contracts/**/*'

variables:
  DebugArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  ReleaseArguments: ' --filter "TestCategory!=Quarantine & TestCategory!=Functional" --verbosity normal '
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops


jobs:
- template:  templates/build-test.yml
  parameters:
    BuildConfiguration: Release
    Arguments: $(ReleaseArguments)
    VmImage: $(VmImage)

Code changes to fix CSV formatting.
  Microsoft.Azure.Cosmos.Samples/Tools/CTL/Utils.cs
Due: azure-pipelines.yml

Code changes to implement replica validation in dotnet v3 sdk.
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/ReflectionUtils.cs
  docs/ReplicaValidationDesign.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to cover a scenario for async cache.
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Cosmetic changes to add inline code comments.
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to refactor async non-blocking cache code.
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code chages to address review comments.
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to address minor review comments.
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Documentation: Fixes Database.ReadAsync description (#3457)
  Microsoft.Azure.Cosmos/src/Linq/CosmosLinqExtensions.cs
  Microsoft.Azure.Cosmos/src/Resource/Database/Database.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Upgrade Resiliency: Adds Implementation for Validating the Unhealthy Backend Replicas in Direct mode (#3631)
  Microsoft.Azure.Cosmos/src/Routing/AsyncCacheNonBlocking.cs
  Microsoft.Azure.Cosmos/src/Routing/GatewayAddressCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Routing/AsyncCacheNonBlockingTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Utils/ReflectionUtils.cs
  docs/ReplicaValidationDesign.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Use parameters
  Microsoft.Azure.Cosmos/src/ReadManyQueryHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Emulator tests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosReadManyItemsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

ReadMany: Fixes BadRequest when using Ids with single quotes (#3732)
  Microsoft.Azure.Cosmos/src/ReadManyQueryHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosReadManyItemsTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

version bump
  Directory.Build.props
  changelog.md
Due: azure-pipelines.yml

Contracts
  Microsoft.Azure.Cosmos/contracts/API_3.32.1-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.32.1.txt
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

More minor cleanup in OptimisticDirectExecutionQueryTests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Minor clean up of OptimisticDirectExecutionQueryTests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add emulator tests for the bypass query parsing scenario
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/BypassQueryParsingTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix up to correctly handle PartitionKey.None using the CachedContainerQueryProperties
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/BypassQueryParsingTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add more tests where PartitionKey.None maps to PartitionKey.Undefined
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/BypassQueryParsingTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Handle PartitionKey.None while creating QueryIterator. This is a workaround for the PartitionKeyInternal.None not following its own contract
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Adds SDK version and changelog for 3.32.1 (#3733)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.32.1-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.32.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Adds commits for 3.32.1-preview hotfix release (#3734)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.32.1-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.32.1.txt
  Microsoft.Azure.Cosmos/src/ReadManyQueryHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosReadManyItemsTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Adds commits for 3.32.1 hotfix release (#3735)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.32.1-preview.txt
  Microsoft.Azure.Cosmos/contracts/API_3.32.1.txt
  Microsoft.Azure.Cosmos/src/ReadManyQueryHelper.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosReadManyItemsTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update Binskim and follow warnings
  templates/static-tools.yml
Due: azure-pipelines.yml

Fixing task
  templates/static-tools.yml
Due: azure-pipelines.yml

Code changes to modify connection state listner not to clear caches whena an exception occures.
  Microsoft.Azure.Cosmos/src/direct/ConnectionStateListener.cs
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
  Microsoft.Azure.Cosmos/src/direct/IConnectionStateListener.cs
  Microsoft.Azure.Cosmos/src/direct/StoreClientFactory.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

More version bumps
  templates/static-tools.yml
Due: azure-pipelines.yml

update
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

binskim args
  templates/static-tools.yml
Due: azure-pipelines.yml

Padding
  templates/static-tools.yml
Due: azure-pipelines.yml

policheck
  templates/static-tools.yml
Due: azure-pipelines.yml

postanalysis parameters
  templates/static-tools.yml
Due: azure-pipelines.yml

analysis settings
  templates/static-tools.yml
Due: azure-pipelines.yml

[Internal] Build: Fixes static tool analysis versions (#3736)
  templates/static-tools.yml
Due: azure-pipelines.yml

Query: Fixes System.ArgumentException when using PartitionKey.None on x86, Linux or in Optimistic Direct Execution (#3730)
  Microsoft.Azure.Cosmos/src/Query/Core/Pipeline/CosmosQueryExecutionContextFactory.cs
  Microsoft.Azure.Cosmos/src/Query/v3Query/QueryIterator.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/BypassQueryParsingTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/Query/OptimisticDirectExecutionQueryTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code changes to record transport address uris from open connection flow.
  Microsoft.Azure.Cosmos/src/direct/Channel.cs
  Microsoft.Azure.Cosmos/src/direct/ChannelDictionary.cs
  Microsoft.Azure.Cosmos/src/direct/ConnectionStateListener.cs
  Microsoft.Azure.Cosmos/src/direct/Dispatcher.cs
  Microsoft.Azure.Cosmos/src/direct/IChannel.cs
  Microsoft.Azure.Cosmos/src/direct/IConnectionStateListener.cs
  Microsoft.Azure.Cosmos/src/direct/LoadBalancingChannel.cs
  Microsoft.Azure.Cosmos/src/direct/LoadBalancingPartition.cs
  Microsoft.Azure.Cosmos/src/direct/RntbdOpenConnectionHandler.cs
  Microsoft.Azure.Cosmos/src/direct/TransportClient.cs
  Microsoft.Azure.Cosmos/src/direct/rntbd2/TransportClient.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/GatewayAddressCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml, azure-pipelines.yml
