Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

Fixes changelog and removes outdated feature entries.
  changelog.md
Due: none

Add environment variable configuration for BatchAsyncContainerExecutor MaxOperationsInDirectModeBatchRequest- #5295 (#6070)
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutorCache.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/ConfigurationManagerBatchTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Bumps version to 3.62.1
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.62.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.63.0-preview.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Adds paired 3.63.0-preview.1 changelog entry for hotfix 3.62.1
  changelog.md
Due: none

[Internal] Contracts: Adds hotfix 3.62.1 contract files and changelog
  Microsoft.Azure.Cosmos/contracts/API_3.62.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.63.0-preview.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

Revise changelog for recent updates and fixes
  changelog.md
Due: none

Update PR link reference
  changelog.md
Due: none

ChangeFeed: Address start time review feedback
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/ChangeFeedStateCosmosElementSerializer.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Bootstrapping/PartitionSynchronizerCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorBuilder.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLease.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseManager.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseManagerCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseManagerInMemory.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/FeedToken/ChangeFeedIteratorCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedProcessorCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedStateCosmosElementSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/DocumentServiceLeaseManagerCosmosTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionSynchronizerCoreTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Release: Bumps main Directory.Build.props to 3.62.1 / preview.1
  Directory.Build.props
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

[Internal] DistributedTransaction: Adds idempotency-token retry matrix with cancellation-safe token exposure (#6054)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedReadTransactionCore.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransaction.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionServerRequest.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedWriteTransactionCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedReadTransactionCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedWriteTransactionTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Enhance documentation for DistributedTransactionResponse
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Contracts: Adds hotfix 3.62.1 contract files and changelog (#6075)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.62.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.63.0-preview.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Session Tokens: Refactors duplicated collection-rid resolution into a shared helper
  Microsoft.Azure.Cosmos/src/SessionContainer.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Session Tokens: Refactors partition-local token build + adds validation primitives
  Microsoft.Azure.Cosmos/src/SessionContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SessionContainerTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Session Tokens: Adds rid-based collection link resolution test
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SessionContainerTest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds auto session-token resolution with write-gate parity
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitterUtils.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperation.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSessionTokenResolver.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSessionTokenResolverTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] DistributedTransaction: Adds session-token parity tests and docs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSessionTokenResolver.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionCommitterTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSessionTokenResolverTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Session Tokens: Refactors DTX resolver comments to match SDK conventions
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSessionTokenResolver.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Updates changelog with PR reference for auto session-token resolution
  changelog.md
Due: none

[Internal] DistributedTransaction: Removes duplicate changelog entries for auto session-token resolution
  changelog.md
Due: none

Changelog update: Fixes changelog and removes outdated feature entries. (#6073)
  changelog.md
Due: none

Hotfix: Adds version 3.62.1 (#6074)
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.62.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.63.0-preview.1.txt
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutorCache.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/ContainerCore.cs
  Microsoft.Azure.Cosmos/src/Util/ConfigurationManager.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchAsyncContainerExecutorCacheTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/ConfigurationManagerBatchTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Session Tokens: Refactors comments to match class conventions
  Microsoft.Azure.Cosmos/src/SessionContainer.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Distributed Transactions: Fixes read transactions losing results when all operations return NotModified
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionConstants.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Benchmark tests: Adds AAD feature in existing benchmark tests (#6072)
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/AzureVmBenchmark/azuredeploy.json
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/BenchmarkConfig.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/CosmosBenchmark.csproj
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/DotNetPerfReport.ipynb
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/Program.cs
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/README.md
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/loop.sh
  Microsoft.Azure.Cosmos.Samples/Tools/Benchmark/run.sh
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Add support for ChangeFeedWithStartTime for merged partitions
  Microsoft.Azure.Cosmos/src/ChangeFeed/ChangeFeedPartitionKeyResultSetIteratorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/ChangeFeedState.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/ChangeFeedStateContinuationAndStartTime.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/ChangeFeedStateCosmosElementSerializer.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/IChangeFeedStateTransformer{TResult}.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/IChangeFeedStateVisitor{TInput,TOutput}.cs
  Microsoft.Azure.Cosmos/src/ChangeFeed/Pagination/IChangeFeedStateVisitor{TInput}.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorBuilder.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/ChangeFeedProcessorCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Configuration/ChangeFeedProcessorOptions.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/FeedProcessing/FeedProcessorFactoryCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLease.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseCheckpointerCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseCore.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseCoreEpk.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseManagerCosmos.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseStoreManagerBuilder.cs
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/LeaseManagement/DocumentServiceLeaseStoreManagerOptions.cs
  Microsoft.Azure.Cosmos/src/Headers/Headers.cs
  Microsoft.Azure.Cosmos/src/Headers/SDKSupportedCapabilitiesHelpers.cs
  Microsoft.Azure.Cosmos/src/Pagination/NetworkAttachedDocumentContainer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/FeedToken/ChangeFeedIteratorCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/GatewayTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedProcessorCoreTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/ChangeFeedStateCosmosElementSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/ContractTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Pagination/InMemoryContainer.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Client Encryption: Fixes System.Text.Json processor JSON-fidelity defects (#5992)
  Directory.Build.props
  Microsoft.Azure.Cosmos.Encryption.Custom/changelog.md
  Microsoft.Azure.Cosmos.Encryption.Custom/src/ArrayPoolManager.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/EncryptionProperties.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonArrayStreamSplitter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/JsonFeedStreamHelper.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/StreamDecryptableItem.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/EncryptionPropertiesStreamReader.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Decryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/StreamProcessor.Encryptor.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/SystemTextJsonStreamAdapter.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/ArrayPoolManagerTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/StreamDecryptableItemTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/Adapters/SystemTextJsonStreamAdapterTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/EncryptionPropertiesStreamReaderTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorDecryptorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorEncryptorTests.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/tests/Microsoft.Azure.Cosmos.Encryption.Custom.Tests/Transformation/StreamProcessorReadBufferTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-msdata-direct.yml, azure-pipelines.yml

docs: Adds DTX cross-region retry signal specification
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

docs: Refactors DTX cross-region retry spec around transaction boundaries
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

Distributed Transactions: Fixes read transactions losing results when all operations return NotModified (#6077)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionConstants.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

docs: Fixes commit-mode terminology to N-region commit
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

docs: Removes implementation-irrelevant detail from DTX retry spec
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

Semantic Reranking: Fix TokenUseage typo with TokenUsage alias
  Microsoft.Azure.Cosmos/contracts/API_3.63.0-preview.1.txt
  Microsoft.Azure.Cosmos/src/Inference/SemanticRerankResult.cs
  Microsoft.Azure.Cosmos/src/Resource/Container/Container.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/SemanticRerankingIntegrationTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fault Injection: Adds dynamic injection rate updates to FaultInjectionRule
  Microsoft.Azure.Cosmos/FaultInjection/DEVELOPMENT.md
  Microsoft.Azure.Cosmos/FaultInjection/README.md
  Microsoft.Azure.Cosmos/FaultInjection/changelog.md
  Microsoft.Azure.Cosmos/FaultInjection/src/FaultInjectionRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionCustomServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionCustomServerErrorRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionServerErrorResultInternal.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionServerErrorRule.cs
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionBuilderValidationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix null reference exception for changefeed
  Microsoft.Azure.Cosmos/src/ChangeFeedProcessor/Bootstrapping/PartitionSynchronizerCore.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ChangeFeed/PartitionSynchronizerCoreTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

DistributedTransaction: Adds DistributedTransactionResponseMode to DistributedTransactionResponse (#6059)
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponseMode.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Contracts/DotNetPreviewSDKAPI.net6.json
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

docs: Refactors DTX retry signal to an always-present boolean header
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

docs: Refactors DTX retry signal spec for concision
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none

docs: Removes coordinator expectations from DTX retry signal spec
  docs/design/DistributedTransactionCrossRegionRetrySignal.md
Due: none
