Repository Azure/azure-cosmos-dotnet-v3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-encryption-custom-compatibility.yml: any of: Microsoft.Azure.Cosmos.Encryption.Custom, azure-pipelines-encryption-custom-compatibility.yml
  azure-pipelines-functional.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines-msdata-direct.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts
  azure-pipelines-preview.yml: any of: Microsoft.Azure.Cosmos, NuGet.config
  azure-pipelines.yml: any of: *, but not: *.md, docs, Microsoft.Azure.Cosmos/contracts

Address PR review comments: rename Release Mode to Minor Mode, clarify hotfix GA+Preview, use Directory.Build.props for previous version
  .github/agents/release-copilot-agent.agent.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Tests: Removes retry loop from DistributedTransactionE2ETests
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionE2ETests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Test: Use >= instead of == for processedDocCount check
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ChangeFeed/DynamicTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Serializer: Simplifies FromStream pattern per review feedback
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Encryption/src/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionJsonSerializer.cs
  Microsoft.Azure.Cosmos.Samples/Usage/SystemTextJson/CosmosSystemTextJsonSerializer.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSystemTextJsonSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosJsonSerializerUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Json/CosmosSystemTextJsonSerializerTest.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add SubstringAfter, SubstringAfterLast, SubstringBefore, SubstringBeforeLast.
  Microsoft.Azure.Cosmos/src/SqlObjects/SqlFunctionCallScalarExpression.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/BaselineTest/TestBaseline/SqlObjectVisitorBaselineTests.SqlFunctionCalls.xml
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/SqlObjects/SqlObjectVisitorBaselineTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add a separate class for thinclient parsing response
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
  Microsoft.Azure.Cosmos/src/ThinClientQueryPlanHelper.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Revert changes in PartitionedQueryExecutionInfo
  Microsoft.Azure.Cosmos/src/Query/Core/QueryPlan/PartitionedQueryExecutionInfo.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Spec: Move DiagnosticsVerbosity from RequestOptions to ToString/ToJson overloads
  specs/diagnostics-compaction.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Batch: Fixes null ErrorMessage when promoting status from MultiStatus response (#5650)
  Microsoft.Azure.Cosmos/src/Batch/TransactionalBatchResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Batch/BatchSchemaTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix ServerTimeout test to not use WithDelay on non-delay error type
  Microsoft.Azure.Cosmos/FaultInjection/tests/FaultInjectionDirectModeTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Serializer: Adds type guard to prevent stream bypass for non-Stream types
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Common/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Encryption/src/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs
  Microsoft.Azure.Cosmos.Samples/Usage/ReEncryption/ReEncryptionSupport/ReEncryptionJsonSerializer.cs
  Microsoft.Azure.Cosmos.Samples/Usage/SystemTextJson/CosmosSystemTextJsonSerializer.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosJsonDotNetSerializer.cs
  Microsoft.Azure.Cosmos/src/Serializer/CosmosSystemTextJsonSerializer.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/Json/CosmosSystemTextJsonSerializerTest.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Rename HttpTimeoutPolicyInference to HttpTimeoutInferencePolicy
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutInferencePolicy.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

PPAF: Fixes write hedging to use account-level read regions
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/LocationCache.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/LocationCacheTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] OpenSpec: Initialize spec-driven development infrastructure
  .github/copilot-instructions.md
  CONTRIBUTING.md
  openspec/README.md
  openspec/config.yaml
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Fix PPAF dynamic override test to expect null HedgeContext
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemIntegrationTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] OpenSpec: Create initial spec catalog (14 specs)
  openspec/specs/batch-and-transactional/spec.md
  openspec/specs/change-feed/spec.md
  openspec/specs/client-and-configuration/spec.md
  openspec/specs/container-and-database-management/spec.md
  openspec/specs/cross-region-hedging/spec.md
  openspec/specs/crud-operations/spec.md
  openspec/specs/diagnostics-and-observability/spec.md
  openspec/specs/distributed-transactions/spec.md
  openspec/specs/handler-pipeline/spec.md
  openspec/specs/partition-keys/spec.md
  openspec/specs/patch-operations/spec.md
  openspec/specs/query-and-linq/spec.md
  openspec/specs/retry-and-failover/spec.md
  openspec/specs/serialization/spec.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Refactor: Extract InferenceFaultInjector adapter from InferenceService
  Microsoft.Azure.Cosmos/src/Inference/InferenceFaultInjector.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add OpenSpec change: reduce-encryption-contention (proposal, design, specs, tasks).
  openspec/changes/reduce-encryption-contention/.openspec.yaml
  openspec/changes/reduce-encryption-contention/design.md
  openspec/changes/reduce-encryption-contention/proposal.md
  openspec/changes/reduce-encryption-contention/specs/async-dek-prefetch/spec.md
  openspec/changes/reduce-encryption-contention/specs/env-var-feature-gate/spec.md
  openspec/changes/reduce-encryption-contention/specs/resolved-client-cache/spec.md
  openspec/changes/reduce-encryption-contention/tasks.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Remove fault injection from InferenceService, test timeout via HttpMessageHandler
  Microsoft.Azure.Cosmos/FaultInjection/src/implementation/FaultInjectionConditionInternal.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceFaultInjector.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/SemanticRerankingIntegrationTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/InferenceServiceTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Revert .cs changes — design-only PR with OpenSpec artifacts.
  Microsoft.Azure.Cosmos.Encryption/src/CachingEncryptionKeyStoreProviderImpl.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionCosmosClient.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionKeyStoreProviderImpl.cs
  Microsoft.Azure.Cosmos.Encryption/src/EncryptionSettingForProperty.cs
  Microsoft.Azure.Cosmos.Encryption/tests/Microsoft.Azure.Cosmos.Encryption.Tests/EncryptionKeyStoreProviderImplTests.cs
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Modify tasks.md
  openspec/changes/reduce-encryption-contention/tasks.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Address review comments: Assert InferenceRequestTimeout and rename CancellationTokenSource
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Refactor: Extract shared HTTP retry loop into HttpTimeoutPolicyHelper
  Microsoft.Azure.Cosmos/src/HttpClient/CosmosHttpClientCore.cs
  Microsoft.Azure.Cosmos/src/HttpClient/HttpTimeoutPolicyHelper.cs
  Microsoft.Azure.Cosmos/src/Inference/InferenceService.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add unit tests for HttpTimeoutPolicyHelper
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HttpTimeoutPolicyHelperTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Specs: Refactors behavioral requirements to use EARS notation
  openspec/specs/bulk-and-batch/spec.md
  openspec/specs/change-feed/spec.md
  openspec/specs/client-configuration/spec.md
  openspec/specs/client-side-encryption/spec.md
  openspec/specs/consistency-and-session/spec.md
  openspec/specs/cross-region-hedging/spec.md
  openspec/specs/crud-operations/spec.md
  openspec/specs/diagnostics-and-tracing/spec.md
  openspec/specs/partitioning/spec.md
  openspec/specs/query-execution/spec.md
  openspec/specs/resource-management/spec.md
  openspec/specs/retry-and-failover/spec.md
  openspec/specs/serialization/spec.md
  openspec/specs/transport-and-connectivity/spec.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Test commit
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/JObjectSqlSerializer.Preview.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/JObjectSqlSerializer.Stable.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptionProcessor.Preview.cs
  Microsoft.Azure.Cosmos.Encryption.Custom/src/Transformation/MdeEncryptionProcessor.Stable.cs
  Microsoft.Azure.Cosmos.sln
  Microsoft.Azure.Cosmos/FaultInjection/src/AssemblyKeys.cs
  Microsoft.Azure.Cosmos/FaultInjection/src/FaultInjection.csproj
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/GlobalUsings.cs
  Microsoft.Azure.Cosmos/src/direct/Channel.cs
  Microsoft.Azure.Cosmos/src/direct/Connection.cs
  Microsoft.Azure.Cosmos/src/direct/GoneException.cs
  Microsoft.Azure.Cosmos/src/direct/HttpException.cs
  Microsoft.Azure.Cosmos/src/direct/RMResourcesWrapper.cs
  Microsoft.Azure.Cosmos/src/direct/ServiceUnavailableException.cs
  Microsoft.Azure.Cosmos/src/direct/StatusCodes.cs
  Microsoft.Azure.Cosmos/src/direct/StoreClient.cs
  Microsoft.Azure.Cosmos/src/direct/TransportException.cs
  Microsoft.Azure.Cosmos/src/direct/TransportExceptions.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DocumentClientUnitTests.cs
Due: azure-pipelines-encryption-custom-compatibility.yml, azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Update flag check
  Microsoft.Azure.Cosmos/src/Query/v3Query/CosmosQueryClientCore.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Test code cleanup
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/CosmosItemThinClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Adds Read Consistency Strategy option for read requests
  Microsoft.Azure.Cosmos/src/Batch/BatchAsyncContainerExecutor.cs
  Microsoft.Azure.Cosmos/src/CosmosClientOptions.cs
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/ClientPipelineBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
  Microsoft.Azure.Cosmos/src/ReadManyRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/ChangeFeedRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/ItemRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/QueryRequestOptions.cs
  Microsoft.Azure.Cosmos/src/RequestOptions/RequestOptions.cs
  Microsoft.Azure.Cosmos/src/Resource/ClientContextCore.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ReadConsistencyStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/RetryHandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add Distributed transaction tests
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionE2ETests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/DistributedTransaction/DistributedTransactionTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionResponseTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedTransactionSerializerTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/DistributedTransaction/DistributedWriteTransactionTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Fix tests and add diagnostic changes
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ClientConfigurationTraceDatum.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ConsistencyConfig.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientConfigurationDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Add hub region caching per partition
  Microsoft.Azure.Cosmos/src/ClientRetryPolicy.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManager.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerCore.cs
  Microsoft.Azure.Cosmos/src/Routing/GlobalPartitionEndpointManagerNoOp.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/ClientRetryPolicyTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

CrossRegionHedgingAvailabilityStrategy: Fixes `ArgumentNullException` race condition in hedging cancellation (#5613)
  Microsoft.Azure.Cosmos/src/Routing/AvailabilityStrategy/CrossRegionHedgingAvailabilityStrategy.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/AvailabilityStrategyUnitTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

changelog/contracts
  Directory.Build.props
  Microsoft.Azure.Cosmos/contracts/API_3.55.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.56.0-preview.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] OpenSpec: Enhances spec catalog with merged best-of-both-branches content
  openspec/README.md
  openspec/config.yaml
  openspec/specs/README.md
  openspec/specs/batch-and-transactional/spec.md
  openspec/specs/change-feed/spec.md
  openspec/specs/client-and-configuration/spec.md
  openspec/specs/client-side-encryption/spec.md
  openspec/specs/consistency-and-session/spec.md
  openspec/specs/container-and-database-management/spec.md
  openspec/specs/cross-region-hedging/spec.md
  openspec/specs/crud-operations/spec.md
  openspec/specs/diagnostics-and-observability/spec.md
  openspec/specs/distributed-transactions/spec.md
  openspec/specs/handler-pipeline/spec.md
  openspec/specs/partition-keys/spec.md
  openspec/specs/patch-operations/spec.md
  openspec/specs/query-and-linq/spec.md
  openspec/specs/retry-and-failover/spec.md
  openspec/specs/serialization/spec.md
  openspec/specs/transport-and-connectivity/spec.md
Due: azure-pipelines-msdata-direct.yml, azure-pipelines.yml

Tests: Adds PatchItemAsync test case for spatial point serialization
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

Code clean up and fix tests based on review comments
  Microsoft.Azure.Cosmos/src/Fluent/CosmosClientBuilder.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestInvokerHandler.cs
  Microsoft.Azure.Cosmos/src/Handler/RequestMessage.cs
  Microsoft.Azure.Cosmos/src/Resource/Settings/ReadConsistencyStrategy.cs
  Microsoft.Azure.Cosmos/src/Tracing/TraceData/ConsistencyConfig.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ClientConfigurationDiagnosticTest.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.EmulatorTests/ReadConsistencyStrategyTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/CosmosClientOptionsUnitTests.cs
  Microsoft.Azure.Cosmos/tests/Microsoft.Azure.Cosmos.Tests/HandlerTests.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml

[Internal] Adds: Contracts and changelog update to master for hotfix (#5688)
  Microsoft.Azure.Cosmos/contracts/API_3.55.1.txt
  Microsoft.Azure.Cosmos/contracts/API_3.56.0-preview.1.txt
  changelog.md
Due: azure-pipelines-functional.yml, azure-pipelines-preview.yml

Adds retries in DTS when isRetriable is true and on timeout
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionCommitter.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionOperationResult.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionResponse.cs
  Microsoft.Azure.Cosmos/src/DistributedTransaction/DistributedTransactionServerRequest.cs
Due: azure-pipelines-functional.yml, azure-pipelines-msdata-direct.yml, azure-pipelines-preview.yml, azure-pipelines.yml
